<template>
  <div id="alert">
    <div class="row">
<div class="col-md-12 text-right">
           <button class="btn btn-danger btn-sm" @click="deleteNotific">ลบการแจ้งเตือน</button><br><br>
</div>
      <div class="col-md-12">
       
        <b-list-group v-if="atrec">


     
          <b-list-group-item :to="'feed/'+a.url"   class="flex-column align-items-start" v-for="a in atrec" :key="a">
            <div class="d-flex w-100 justify-content-between" >
              <h5 class="mb-1"><i class="far fa-bell"></i> แจ้งเตือน</h5>
              <small>{{a.date |moment("ddd, hA")}}</small>
            </div>

            <p
              class="mb-1"
            >{{a.title}}.</p>

            
          </b-list-group-item>



        
         
        </b-list-group>

         <b-list-group v-if="!atrec">
             <b-list-group-item    class="flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between" >
              <h5 class="mb-1"><i class="fas fa-broom"></i> ข้อมูลว่าง สะอาดหมดจด...</h5>
            
            </div>

            
          </b-list-group-item>
         </b-list-group>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "alert",
  mounted() {
    this.token = this.$session.get("token");
    this.profile = this.$session.get("profile");
    this.ClrearNoti()
    this.loadNotisfix()
  },
  data() {
    return {
      profile: "",
      seed:'',
      atrec:''
    };
  },
  methods: {
    loadNotisfix(){
        this.axios.get(
        "https://cardrunner.co/api/community/event/" + this.token + "/loadListNotifications"
      ).then((doc)=>{
          if(doc.data.status===200){
              if(doc.data.data.notification){
                     this.atrec= doc.data.data.notification.reverse()
              }else{
                   this.atrec= ''
              }
          }
      })
    },
    ClrearNoti() {
      this.axios.get(
        "https://cardrunner.co/api/community/event/" + this.token + "/crearNotifications"
      ).then(()=>{
          this.seed = "update"
      })
    },
    deleteNotific(){
         this.axios.get(
        "https://cardrunner.co/api/community/event/" + this.token + "/removeNotifications"
      ).then((doc)=>{
          if(doc.data.status===200){
              this.atrec = ''
              this.loadNotisfix()
          }
      })
    }
  }
};
</script>

<style scoped>
.list-group-item:hover{
    color: #ffffff;
    background: #1DA1F2;
}
</style>