<template>
  <div id="comment">
    <expire />
    <div class="row" v-if="conntent">
      <div class="col-md-12 ">
        <a href="#">
          <h3>@{{conntent.fullname}}</h3>
        </a>

        <br />
        <pre id="font_small">{{conntent.post}}
       </pre>

        <div v-if="conntent.buyCard" class="row" style="background:url('https://image.freepik.com/free-vector/businessman-holding-winning-trophy-victory-concept_115990-417.jpg');background-size:cover;">
          <div class="col-md-2"></div>
          <div class="col-md-7"><br> <p class="text-center"> <small >มาร่วมแสดงความยินดีด้วยกัน</small></p>
            <h4 class="text-center">{{conntent.post}}</h4>
           <br>
            <CardSatus :pid="conntent.CardID" dialog />
            <br />
            <br />
          </div>
        </div>

        <div
          v-if="conntent.type==='withdraws'"
          class="row"
          style="background:url('https://www.wgconsulting.com/hs-fs/hubfs/alliances-bg-3.png?width=1900&height=888&name=alliances-bg-3.png');height:500px;"
        >
          <div class="align-middle" style=" padding:5%;">
            <br />
            <br />
            <br />
            <br />
            <h3>
              {{conntent.post}}
              <br />
              - {{conntent.date |moment("ddd, hA")}}
            </h3>
          </div>
        </div>
        - {{conntent.date |moment("ddd, hA")}}
        <button class="btn btn-light btn-sm mr-2" @click="like(),conntent.like++ ">
          {{conntent.like}}
          <i class="fas fa-thumbs-up"></i>
        </button>

        <br /> <br />

        <div class="row ctop">
          <div class="col-md-12">
            <br />
            <h5>
              <b>{{profile.fullname}}</b>
            </h5>

            <b-form-input
              v-model="data.commenst"
              id="trex"
              placeholder="แสดงความยินดี..."
              :disabled="btn==='ture'"
              @keyup.enter="commentee"
            ></b-form-input>
            <div class="cap mt-2 mr-2" v-if="mgs">
              <small>{{mgs}}</small>
            </div>
            
              <button class="btn btn-primary btn-sm mt-2" @click="commentee">
                โพสข้อความ
                <i class="far fa-comment-dots"></i>
              </button>
          
           
          </div>
        </div>
      </div>
      
    </div>  <br/><br/>
    <div class="row pad">
    
        <div class="col-md-12 " v-for="a in commm" :key="a">
          <h6>
            <a href="#">@{{a.fullname}}</a>
            <small> - {{a.date | moment("ddd, hA")}}</small>
          </h6>
          <p id="small">{{a.comment}}</p>
          <hr />
        </div>
      </div>
  </div>
</template>

<script>
import expire from "@/components/checExpire";
import CardSatus from "@/components/StatusCard";
export default {
  name: "comment",
  components: {
    expire,
    CardSatus
  },
  mounted() {
    this.token = this.$session.get("token");
    this.profile = this.$session.get("profile");
    this.url = this.$route.params.id;
    this.loadConetent();
    this.sockets.subscribe("comment_" + this.url, function(data) {
      this.commm.unshift(data);
    });
  },
  data() {
    return {
      profile: "",
      url: "",
      conntent: "",
      data: {
        commenst: ""
      },
      btn: "",
      msg: "",
      commm: ""
    };
  },
  methods: {
    loadConetent() {
     
      this.axios
        .get(
          "https://cardrunner.co/api/community/event/" +
            this.token +
            "/loadOnce/" +
            this.url
        )
        .then(doc => {
          if (doc.data.status === 200) {
            this.conntent = doc.data.data;
            if(doc.data.data.comment){
            this.commm = doc.data.data.comment.reverse();
            }
          }
        });

      
    },
    commentee() {
       if(this.data.commenst===""){
          this.msg = "กรอกด้วย"
      }else{
      this.axios
        .put(
          "https://cardrunner.co/api/community/event/" +
            this.token +
            "/comment",
          {
            url: this.url,
            fullname: this.profile.fullname,
            commnet: this.data.commenst
          }
        )
        .then(() => {
          this.data.commenst = "";
          this.loadConetent()
        });
      }
    },
    like() {
      this.axios.put(
        "https://cardrunner.co/api/community/event/" + this.token + "/like",
        {
          id: this.url
        }
      );
    }
  }
};
</script>

<style scoped>
#small {
  font-weight: normal;
  font-size: 18px;
}
#font_small {
  padding: 15px;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}
.hovers {
  padding: 5px 15px;
  margin: 15px 15px;
}
.btn-outline-light {
  color: #000000;
}
.hovers:hover {
  margin: 15px 15px;
  padding: 5px 15px;
  background: #f8f8f8;
}
.ctop {
  padding: 15px;
  background: #f7f7f7;
}
.pad {
  padding: 15px 15px;
}
</style>