<template>
  <div class="feed">

      <expire/>
     
  
  <div class="row ctop">
      <div class="col-md-12">

   <h5> <b>{{profile.fullname}}</b></h5>

    <b-form-textarea v-model="data.post" id="trex" placeholder="เขียนอะไรบางอย่าง..." :disabled="btn==='ture'"></b-form-textarea>
 <div class="cap mt-2 mr-2" v-if="mgs"><small>{{mgs}}</small></div>
  
      <button class="btn btn-primary btn-sm mt-2" @click="post" > 
        โพสข้อความ
        <i class="far fa-comment-dots"></i>
      </button>
 
    
    </div>
  </div>

<div class="row">
  <div class="col-md-12">
   <br>
  </div>
</div>
  <div class="row">
  
       <div class="col-md-12 mt-2 "   v-for="x in postContent" :key="x" >
           <div class="col-md-12  " >
            <b><a href="#" >  @{{x.fullname}} </a></b><small>- {{ x.date|moment("ddd, hA") }}</small><br>
             <small ><pre id="font_small">{{x.post}}</pre></small> 

                <div v-if="x.buyCard" class="row" style="background:url('https://image.freepik.com/free-vector/businessman-holding-winning-trophy-victory-concept_115990-417.jpg');background-size:cover;">
                    <div class="col-md-2">
                    </div>
                    <div class="col-md-7"><br>  <h4 class="text-center">{{x.post}}</h4>
                      
                    <CardSatus :pid="x.CardID" dialog=""/> <br>
                  
                     <br>  <br>
                    </div>
                   
                </div>

                <div v-if="x.type==='withdraws'" class="row " style="background:url('https://www.wgconsulting.com/hs-fs/hubfs/alliances-bg-3.png?width=1900&height=888&name=alliances-bg-3.png');height:500px;">
                      <div class=" align-middle " style=" padding:5%;"><br><br><br><br><h3>  {{x.post}}</h3></div>
                </div>
           
             <router-link class="btn btn-light btn-sm mr-2" :to="'/cp/community/feed/'+x._id"> {{x.c_com}} <i class="far fa-comment"></i></router-link>
             <button class="btn btn-light btn-sm mr-2" @click="like(x._id),x.like++">{{x.like}} <i class="fas fa-thumbs-up" ></i></button>
           </div>
          <hr>
       </div>
  </div>



  </div>
</template>

<script>
import expire from "@/components/checExpire"
import CardSatus  from "@/components/StatusCard"

export default {
  name: "feed",
  components:{
      CardSatus,expire
  },
  mounted() {
    this.token = this.$session.get("token");
    this.profile = this.$session.get("profile");
    this.loadEvent();
    this.sockets.subscribe("feeds", function(data) {
      this.postContent.unshift(data);
   });
  },
  data() {
    return {
      token: "",
      profile: "",
      data: {
        post: ""
      },
      btn:'',
      mgs:'',
      postContent:[],
      cid:''
    };
  },
  methods: {
      showModel(a){
          this.cid  = a
      },
    loadEvent() {
      this.axios
        .get(
          "https://cardrunner.co/api/community/event/" +
            this.token +
            "/loadsomting"
        )
        .then(doc => {
            if(doc.data.status===200){
                  
                    this.postContent = doc.data.data
                  
                    
            }
        });
    },
    post(){
        if(this.data.post===''){
            this.mgs = "เขียนบางอย่าง"
        }else{
        this.btn = 'true';
        this.axios.put("https://cardrunner.co/api/community/event/" +
            this.token +
            "/post",{
                fullname:this.profile.fullname,
                post:this.data.post
            }).then((doc)=>{
                
                if(doc.data.status===200){
                this.data.post=''
                this.mgs =doc.data.mgs
                }
             
            })
        }
    },
    like(id){
        this.axios.put("https://cardrunner.co/api/community/event/" +
            this.token +
            "/like",{
                id:id
            })
        
    }
    
  }
};
</script>

<style scoped>
.ctop{
    padding: 15px;
    background: #F7F7F7;
}
.hovers{
    padding: 5px 15px;
    margin: 15px 15px;
}
.btn-outline-light{
    color: #000000;
}
.hovers:hover{
     margin: 15px 15px;
    padding: 5px 15px;
    background: #F8F8F8;
}
#font_small{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}
.fade-enter-active,
.fade-leave-active {
  color: #000;
  background-color: none;
  transition: all 2s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  background-color: #1DA1F2;
  color: #000;
}
</style>