<template>
  <div id="about">
    <div class="container">
      <br />
      <br />
      <div class="row">
        <div class="col-md-12">
          <h4>
            คำถามที่พบบ่อย
            <hr />
          </h4>

          <b>1.จุดเด่นของ Card Runner ?</b>
          <p>ปัจจุบัน คอมพิวเตอร์และอินเตอร์เน็ตได้เข้ามามีบทบาทในชีวิตประจำวันเป็นอย่างมากธุรกิจออนไลน์จึงเป็นธุรกิจที่มีอัตราการเติบโตอย่างต่อเนื่อง Card Runner เล่นง่าย สนุก ไม่น่าเบื่อ สมาชิกจะเพลิดเพลินไปกับการหาเงินออนไลน์ และสามารถสร้างรายได้ตลอด 24 ชั่วโมง</p>
          <br />
          <b>2.จะได้ค่า Commission หรือการแนะนำเพื่อนสมาชิกเมื่อไหร่ ?</b>
          <p>สมาชิกจะได้รับ โบนัสค่าแนะนำ ทันที 5% ที่เพื่อนเราซื้อ Card เช่น เพื่อนเราซื้อ GOLD CARD มูลค่า 7,000 บาท เราจะมีรายได้ทันที 350 บาท สามารถแนะนำได้ไม่จำกัด และถ้าเพื่อนเรามีรายได้จากการ Run Card เท่าไรในแต่ละวัน เราจะมีรายได้ 10% จากเพื่อนเรา ซึ่งเรียกว่า ค่า Commission นั้นเอง สามารถตรวจสอบได้ในระบบสมาชิก</p>
          <br />
          <b>3.Card มีอายุกี่วัน ?</b>
          <p>Card สามารถ Run เพื่อสร้างรายได้เป็นเวลา 60 วัน นับตั้งแต่วันที่ซื้อ ถ้าครบ 60 วันแล้ว Card มีสถานะหมดอายุ หากต้องการ Run ต่อไปให้ทำการซื้อ Card อีกครั้ง</p>
          <br>
          <b>4.วันนึงกด RUN ครั้งนึง Card จะสร้างรายได้ได้กี่ชั่วโมง หากไม่ได้กด Run จะเป็นอย่างไร?
</b>
<p>Card Runner ใช้ระบบคล้ายๆกับการขุด Bitcoin สมาชิกต้องเข้ามากด RUN เพื่อสั่งการทำงานทุกๆ 8 ชั่วโมง หากครบ 8 ชั่วโมง ให้เรากด Claim เงินที่ขุดได้  แล้วจึงกด Run เพื่อขุดได้อีก 8 ชั่วโมง แต่เมื่อหากไม่กด Run ต่อ Card ก็จะได้ไม่ได้ทำงาน ดังนั้นจึงควรกด Run ทุกครั้งเมื่อครบ 8 ชั่วโมง
</p>
<br>
<b>5.มีค่าใช้จ่ายในการโอนเงินออกจากระบบเข้าสู่บัญชีธนาคารของสมาชิกหรื่อไม่
</b>
<p>สมาาชิกสามารถโอนเงินออกจากระบบได้ตามความต้องการไม่จำกัดจำนวนครั้ง  โดยมียอดแจ้งโอนขั้นต่ำ 50 บาทต่อครั้ง และสูงสุด 5,500 บาทต่อวัน ใช้เวลาดำเนินการภายใน 24 ชั่วโมง ไม่มีค่าธรรมเนียมในการโอน ไม่เว้นวันหยุดเสาร์-อาทิตย์
</p>
<br>
<b>6.ช่องทางการติดต่อ สามารถติดต่อได้ทางไหนบ้าง</b>
<p>สามารถติดต่อเราได้ทาง Line@ จะสะดวกและรวดเร็วที่สุด</p>
<br><br>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "about"
};
</script>

<style scoped>
#about {
  min-height: 80vh;
}
</style>