<template>
  <div id="ad">
    <br />
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h4>
            Rolling Login
            <hr />
          </h4>

          <div>
            <br />
            <label for>กรอกอีเมล์</label>
            <b-form-input v-model="data.email"></b-form-input>
          </div>

          <div>
            <br />
            <label for>กรอกพาสเวร์ด</label>
            <b-form-input v-model="data.pwd" type="password"></b-form-input>
          </div>

          <div class="text-center" v-if="css">
            <br />
            <b-badge pill :variant="css">{{msg}}</b-badge>
          </div>
          <br />

          <button class="btn btn-primary btn-block" @click="MattXoislogin">เข้าสู่ระบบ</button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "ad",
  data() {
    return {
      css: "",
      msg: "",
      data: {
        email: "",
        pwd: ""
      }
    };
  },
  methods: {
    MattXoislogin() {
      if (this.data.email === "" || this.data.pwd === "") {
        this.css = "danger";
        this.msg = "!Error #404";
      } else {
        this.axios
          .post("https://cardrunner.co/api/admin/login", {
            ...this.data
          })
          .then(response => {
            if (response.data.status === 200) {
              this.css = "success";
              this.msg = "Waitting";
              this.$session.set("allows", response.data.codeGEN);
              window.location = "zibra/";
            } else {
              this.css = "danger";
              this.msg = "!Error #4877442XC";
            }
          });
      }
    }
  }
};
</script>

<style scoped>
#ad {
  min-height: 80vh;
}
</style>