<template>
  <div id="outchallen">
    <div id="sumbody" :style="'background:url('+image.bgs+');background-size:cover;background-position-y:50%'">
      <div class="container">
        <br />

        <div class="row">
   
          <div class="col-md-8 text-left" style>
            <h4 class="neon">
              <b>สิ้นสุดการแข่งขันแล้ว</b>
            </h4>
            <p class="flux">
              <b>ยินดีด้วยกับผู้ชนะ</b>
            </p>

            <h3>CARD RUNNER CHALLENGE #1</h3>
          </div>
        </div>
      </div>
    </div>

    <div class="yellow">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <b>
              <i class="fas fa-trophy"></i>สิ้นสุดการแข่งขันแล้วยินดีด้วยกับผู้ชนะ คุณอาจเป็นผู้ชนะ Login แล้วตรวจสอบรายชื่อ
            </b>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <br />
      <br />
      <div class="row">
        <div class="col-md-12">
          <h4>
            CARD RUNNER CHALLENGE #1
            <hr />
          </h4>
          <p>
            <b>ขอเชิญพวกเราชาว CARD RUNNER เข้าร่วมการแข่งขันสะสมคะแนนชิงแชมป์ ครั้งที่ 1</b>
            <br />การแข่งขันจะจัดขึ้นระหว่างวันที่ 27 มีนาคม 2563  - 15 เมษายน 2563 โดยสมาชิกทุกคนสามารถเข้าร่วมการแข่งขันสุดมันส์ในครั้งนี้ได้ สายฟรี!! ก็เป็นแชมป์ได้ ถ้ามั่นใจว่าเจ๋งจริง จัดไป!!
          </p>

          <br />
          <h4>
            กติการการแข่งขัน
            <hr />
          </h4>
          <p>
            - การนับคะแนน 1 บาท = 1 คะแนน
            <br />- โปรโมชั่น ซื้อ CARD แถม CARD สามารถใช้ร่วมในการแข่งขันได้ นับคะแนนทั้ง
            การ์ดหลัก และ การ์ดแถม
            <br />- นับคะแนนจากการซื้อการ์ดของเพื่อนที่เราแนะนำเท่านั้น เช่น นาย ก.แนะนำ เพื่อน 10 คน 10คนนั้นซื้อการ์ดคนละ 300 บาท เราก็จะได้ทันที 3,000 คะแนน
            <br />- ผู้เข้าแข่งขันที่ได้รับรางวัลต้องมีคะแนนส่วนตัวอย่างน้อย 1,000 คะแนน
          </p>
          <br />
          <h4>
            รางวัลในการแข่งขัน
            <hr />
          </h4>

          <p>
            - อันดับที่ 1 เงินสด 50% จากยอดที่คำนวนแล้ว พร้อม Silver Card 1 ใบ
            <br />-
            อันดับที่ 2 เงินสด 35% จากยอดที่คำนวนแล้ว พร้อม Standard Card 1 ใบ
            <br />-
            อันดับที่ 3 เงินสด 15% จากยอดที่คำนวนแล้ว พร้อม Member Card 1 ใบ
            <br />-
            อันดับที่ 4 Silver Card 1 ใบ
            <br />-
            อันดับที่ 5 Standard Card 1 ใบ
            <br />-
            อันดับที่ 6 Standard Card 1 ใบ
            <br />-
            อันดับที่ 7 Member Card 1 ใบ
            <br />-
            อันดับที่ 8 Member Card 1 ใบ
            <br />-
            อันดับที่ 9 Beginner Card 1 ใบ
            <br />
-
            อันดับที่ 10 Beginner Card 1 ใบ
          </p>

          <br />
          <h4>
            วิธีคำนวนรางวัลในการแข่งขัน
            <hr />
          </h4>

          <p>
            - เอาคะแนนของอันดับที่ 1-10 มารวมกัน แล้วคูณด้วย 10% = XXXXXX บาท
            <br />- *สมมติอันดับที่ 1-10 มีคะแนนรวมกัน 1,000,000 คะแนน
            <br />
            <br />1,000,000*10% = 100,000
            <br />
            <br />อันดับที่ 1 จะได้รับเงินสด 50% = 50,000 บาท
            <br />อันดับที่ 2 จะได้รับเงินสด 35% = 35,000 บาท
            <br />อันดับที่ 3 จะได้รับเงินสด 15% = 15,000 บาท
          </p>
          <br />
          <br />
          <p>
            <b>
              เริ่มการแข่งขัน วันที่ 27 มีนาคม 2563 เวลา 20.00 น.
              <br />สิ้นสุดการแข่งขัน วันที่ 15 เมษายน 2563 เวลา 23.59 น
            </b>
            <br />ประกาศผลอย่างเป็นทางการ วันที่ 16 เมษายน 2563 เวลา 12.00 น.
          </p>

          <br />
          <p class="text-center">ขอพลังจงสถิตอยู่กับทุกท่านครับ… CARD RUNNER</p>
        </div>
      </div>
      <br />
      <br />
    </div>
  </div>
</template>

<script>
import bgs from "@/assets/bgse.jpg";
import wined from "@/assets/winners.png";
export default {
  name: "outchallen",
  data() {
    return {
      image: {
        bgs: bgs,
        wined: wined
      }
    };
  }
};
</script>

<style scoped>
#outchallen {
  min-height: 80vh;
}
#sumbody {
  z-index: 333;

  color: #ffffff;
  padding: 80px 15px;
}

.neon {
  color: #fb4264;
  font-size: 60px;

  text-shadow: 0 0 3vw #f40a35;
}

.flux {
  color: #426dfb;
  font-size: 50px;
  text-shadow: 0 0 3vw #2356ff;
}

.neon {
  animation: neon 1s ease infinite;
  -moz-animation: neon 1s ease infinite;
  -webkit-animation: neon 1s ease infinite;
}

@keyframes neon {
  0%,
  100% {
    text-shadow: 0 0 1vw #fa1c16, 0 0 3vw #fa1c16, 0 0 10vw #fa1c16,
      0 0 10vw #fa1c16, 0 0 0.4vw #fed128, 0.5vw 0.5vw 0.1vw #806914;
    color: #fed128;
  }
  50% {
    text-shadow: 0 0 0.5vw #800e0b, 0 0 1.5vw #800e0b, 0 0 5vw #800e0b,
      0 0 5vw #800e0b, 0 0 0.2vw #800e0b, 0.5vw 0.5vw 0.1vw #40340a;
    color: #806914;
  }
}

.flux {
  animation: flux 2s linear infinite;
  -moz-animation: flux 2s linear infinite;
  -webkit-animation: flux 2s linear infinite;
  -o-animation: flux 2s linear infinite;
}

@keyframes flux {
  0%,
  100% {
    text-shadow: 0 0 1vw #1041ff, 0 0 3vw #1041ff, 0 0 10vw #1041ff,
      0 0 10vw #1041ff, 0 0 0.4vw #8bfdfe, 0.5vw 0.5vw 0.1vw #147280;
    color: #28d7fe;
  }
  50% {
    text-shadow: 0 0 0.5vw #082180, 0 0 1.5vw #082180, 0 0 5vw #082180,
      0 0 5vw #082180, 0 0 0.2vw #082180, 0.5vw 0.5vw 0.1vw #0a3940;
    color: #146c80;
  }
}

.yellow {
  padding: 15px 15px;
  color: #000;
  background: rgb(255, 193, 7);
}
</style>