<template>
  <div id="maillconfirm">
      <br><br>
    <div class="container">
      <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4 text-center" v-if="letit===0">
            <h4>ยืนยันคำสังถอนสำเร็จ</h4>
            <img src="https://webstockreview.net/images/check-icon-png-2.png" width="50%">
            
            <p><br>คำสั่งถอนจะถูกดำเนินการในไม่ช้า ขอบคุณ โปรด <a href="https://cardrunner.co/login">Login</a> เพื่อทำการตรวจสอบรายการถอนของคุณ </p>
        </div>
         <div class="col-md-4 text-center" v-else>
                <h4>Token หมดอายุ</h4>
            <img src="https://cdn.icon-icons.com/icons2/1380/PNG/512/vcsconflicting_93497.png" width="50%">
            
            <p><br>Token หมดอายุหรือถูกใช้งานไปแล้ว</p>
         </div>


        <div class="col-md-4"></div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "maillconfirm",
  mounted(){
      this.tokenid = this.$route.params.id
      this.getConfrimations()
  },
  data() {
      return {
          tokenid:'',
          letit:0
      }
  },
  methods:{
      getConfrimations(){
          this.axios.post("https://cardrunner.co/api/confirmdata/token",{
              token:this.tokenid
          }).then(doc=>{
              if(doc.data.status===200){
                  this.letit=0
              }else{
                  this.letit=1
              }
          })
      }
  }
};
</script>

<style scoped>
#maillconfirm {
  min-height: 80vh;
}
</style>