<template>
  <div id="error">
      <center><img src="https://i.pinimg.com/originals/86/41/80/86418032b715698a4dfa6684b50c12af.gif" width="40%"><br>
       ไม่สามารถเข้าถึงไซต์ได้โดยปรกติ
      </center>
      <br><br>
  </div>
</template>

<script>
export default {
    name:'error'
}
</script>

<style>

</style>