<template>
  <div class="home">
    <div class="cap">
     <i class="fas fa-stopwatch"></i> ผู้ชนะอาจเป็นคุณ เข้าสู่ระบบแล้วตรวจสอบรายชื่อของคุณเพื่อรับรางวัล CARD RUNNER CHALLENGE #1
    </div> 
    <div id="sumbody" :style="'background:url('+image.bgs+');background-size:cover;background-position-y:50%'">
      <div class="container">
      
        <div class="row">
          <div class="col-md-12 text-left" style>
            <h4 class="neon">
              <b>เราได้ผู้เป็นตำนานแล้ว</b>
            </h4>
            <p class="flux">
              <b>ของ CARDRUNNER</b>
            </p>

            <h4><b>ตรวจสอบรายชื่ออาจจะมีคุณ เข้าสู่ระบบแล้วไปยังหน้า การแข่งขัน</b></h4>
         
            <router-link to="challenge" class="btn btn-warning"><b>กติการการแข่งขัน</b></router-link>
          </div>
        </div>
      </div>
    </div>

    <div class="yellow">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <b>
              <i class="fas fa-trophy"></i> ผู้ชนะอาจเป็นคุณ เข้าสู่ระบบแล้วตรวจสอบรายชื่อของคุณเพื่อรับรางวัล
            </b>
            <router-link to="challenge">ดูรายละเอียด</router-link>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <br />
          <br />
        </div>

       
          <div class="col-md-2"></div>
        <div class="col-md-7 text-center">
           
          <img :src="image.logos" width="80%">

          <iframe width="100%" height="415" src="https://www.youtube.com/embed/xomf2mtPpyM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
     
          <br />  <br />
        </div>
       
        
      </div>

      <div class="row sanders">
        <div class="col-md-6 popola mt-2">
          <b-list-group name="fade" is="transition-group">
            <b-list-group-item
              href="#"
              class="flex-column align-items-start box"
              v-for="f in friends"
              :key="f"
            >
              <div class="d-flex w-100 justify-content-between">
                <b class="mb-1">{{f.fullname}}</b>
                <small>{{ f.Createis | moment("calendar")}}</small>
              </div>
              <small>{{f.email}}</small>
            </b-list-group-item>
          </b-list-group>

          <br />
          <br />
        </div>

        <div class="col-md-6 popola mt-2">
          <b-list-group name="fade" is="transition-group">
            <b-list-group-item
              href="#"
              class="flex-column align-items-start box"
              v-for="c in claims"
              :key="c"
            >
              <div class="d-flex w-100 justify-content-between">
                <b class="mb-1">{{c.amount}}</b>
                <small>{{ c.date | moment("calendar")}}</small>
              </div>
              <small>{{c.userClaim}}</small>
            </b-list-group-item>
          </b-list-group>
        </div>
      </div>
      <br />
      <br />

      <div class="row sanders">
        <div class="col-md-6 text-right">
          <h1 class="fas fa-users"></h1>
          <h2>
            <sup>สมาชิก&nbsp;</sup>

            <number
              ref="number1"
              :from="0"
              :to="userCount"
              :format="theFormat"
              :duration="1"
              :delay="0"
              easing="Power1.easeOut"
            >{{userCount}}</number>
          </h2>
        </div>

        <div class="col-md-6 left">
          <h1 class="fas fa-money-check-alt"></h1>
          <h2>
            <number
              ref="number1"
              :from="0"
              :to="Allwith"
              :format="theFormat"
              :duration="1"
              :delay="0"
              easing="Power1.easeOut"
            >{{Allwith | currency('',2)}}</number>
            <sup>&nbsp;รายการฝากถอนสำเร็จ</sup>
          </h2>
        </div>
      </div>
    </div>

    <div class="tabs"></div>
    <br />
    <br />
    <div class="container">
       <div class="row">
          <div class="col-md-12 text-center">
              <img :src="image.line" width="320"> 
              <a href="https://line.me/ti/g2/4KEY7jZq9IRTLaEkdEfbew?utm_source=invitation&utm_medium=link_copy&utm_campaign=default" target="_bank" class="btn btn-success">เข้าร่วม  OPEN CHAT</a>
          </div>
       </div>
      <div class="row">
        <div class="col-md-6 text-center">
          <br />
          <h5>
            <b>“ทำงานที่บ้าน ป้องกัน ไวรัส Covid-19 สามารถมีรายได้ผ่านออนไลน์ 24 ชม.”</b>
          </h5>
          <small>
            CARD RUNNER.
            เหมาะสำหรับเศรษฐกิจยุคปัจจุบัน ท่านสามารถเลือกรับรายได้ในแต่ละวันได้เองตามความต้องการ
          </small>

          <br />
          <br />
          <router-link to="/login" class="btn btn-primary">ไปยัง Dashbord</router-link>
        </div>
        <div class="col-md-6">
          <img src="https://www.blockchain.com/static/img/home/home-map-ppl.png" width="100%" />
        </div>
      </div>
      <br />
      <br />
    </div>
  </div>
</template>

<script>
import bgs from "@/assets/bgse.jpg";
import wined from "@/assets/winners.png";
import car from "@/assets/car.png";
import logos from "@/assets/logos.png";
import line from "@/assets/line.png";
export default {
  name: "Home",

  mounted() {


    this.countus();
    this.withdraws();
    this.loadAllusers();
    this.sockets.subscribe("counterAsUSER", function() {
      this.userCount = this.userCount + 1;
    });
    this.sockets.subscribe("usersDetails", function(data) {
      this.friends.unshift(data);
    });
    this.sockets.subscribe("claim", function(data) {
      this.claims.unshift(data);
    });
    this.timmingSetting()
  },
  data() {
    return {
      image: {
        bgs: bgs,
        wined: wined,
        car:car,
        logos:logos,
        line:line
      },
      userCount: 0,
      Allwith: 0,
      friends: [],
      claims: [],
      countDown:'',
  
    };/////////////////////////////
  },

  methods: {
     timmingSetting() {
      this.dateTarget = new Date("Apri 15, 2020 23:59:59").getTime();

      this.SetInterVals = setInterval(() => {
       var now= new Date().getTime();

        this.distance = this.dateTarget - now;

        this.days = Math.floor(this.distance / (1000 * 60 * 60 * 24));
        this.hours = Math.floor(
          (this.distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60)
        );
        this.minutes = Math.floor(
          (this.distance % (1000 * 60 * 60)) / (1000 * 60)
        );
        this.seconds = Math.floor((this.distance % (1000 * 60)) / 1000);

        this.countDown = "การแข่งขันเหลือเวลาอีก "+this.days +" วัน "+ this.hours + " ชั่วโมง " + this.minutes + " นาที " + this.seconds + " วินาที"

      if (this.distance < 0) {
        clearInterval(this.SetInterVals);
        this.countDown = "การแข็งขันจบลงแล้ว"
      }
      }, 1000);

      
    },

    loadAllusers() {
      this.axios
        .get("https://cardrunner.co/api/members/usersalls")
        .then(reponse => {
          if (reponse.data.status === 200) {
            this.friends = reponse.data.data;
          }
        });
    },
    countus() {
      this.axios
        .get("https://cardrunner.co/api/members/count")
        .then(respoonse => {
          this.userCount = respoonse.data.count;
        });
    },
    withdraws() {
      this.axios
        .get("https://cardrunner.co/api/members/withdrawenders")
        .then(response => {
          if (response.data.status === 200) {
            this.Allwith = Number(response.data.data[0].totals);
          }
        });
    }
  }
};
</script>

<style scoped>
.sanders {
  background: url("https://www.evispot.ai/assets/img/bg-shapes/bg3.png");
  background-size: cover;
  background-repeat: repeat;
}

.fade-enter-active,
.fade-leave-active {
  color: #000;
  background-color: none;
  transition: all 2s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  background-color: rgb(233, 236, 239);
  color: #000;
}
.popola {
  height: 550px;
  overflow: hidden;
}
.left {
  border-left: solid #c8c8c8;
}
.adisorn {
  color: #ffffff;
  display: flex;
  min-height: 35vh;
  justify-content: center;
  align-items: center;

  background-color: #555;
  background: url("https://fg-a.com/christmas-bg/snowflakes-1280.jpg");
  background-size: 100vh;
  overflow: hidden;
}
.display-4 {
  font-size: 3.5rem !important;
}
#ef {
  position: relative;
  top: -10vh;
}
.tabs {
  position: absolute;

  width: 100%;
  height: 50vh;
}
#sumbody {
  z-index: 333;

  color: #ffffff;
  padding: 80px 15px;
}

.neon {
  color: #fb4264;
  font-size: 60px;

  text-shadow: 0 0 3vw #f40a35;
}

.flux {
  color: #426dfb;
  font-size: 50px;
  text-shadow: 0 0 3vw #2356ff;
}

.neon {
  animation: neon 1s ease infinite;
  -moz-animation: neon 1s ease infinite;
  -webkit-animation: neon 1s ease infinite;
}

@keyframes neon {
  0%,
  100% {
    text-shadow: 0 0 1vw #fa1c16, 0 0 3vw #fa1c16, 0 0 10vw #fa1c16,
      0 0 10vw #fa1c16, 0 0 0.4vw #fed128, 0.5vw 0.5vw 0.1vw #806914;
    color: #fed128;
  }
  50% {
    text-shadow: 0 0 0.5vw #800e0b, 0 0 1.5vw #800e0b, 0 0 5vw #800e0b,
      0 0 5vw #800e0b, 0 0 0.2vw #800e0b, 0.5vw 0.5vw 0.1vw #40340a;
    color: #806914;
  }
}

.flux {
  animation: flux 2s linear infinite;
  -moz-animation: flux 2s linear infinite;
  -webkit-animation: flux 2s linear infinite;
  -o-animation: flux 2s linear infinite;
}

@keyframes flux {
  0%,
  100% {
    text-shadow: 0 0 1vw #1041ff, 0 0 3vw #1041ff, 0 0 10vw #1041ff,
      0 0 10vw #1041ff, 0 0 0.4vw #8bfdfe, 0.5vw 0.5vw 0.1vw #147280;
    color: #28d7fe;
  }
  50% {
    text-shadow: 0 0 0.5vw #082180, 0 0 1.5vw #082180, 0 0 5vw #082180,
      0 0 5vw #082180, 0 0 0.2vw #082180, 0.5vw 0.5vw 0.1vw #0a3940;
    color: #146c80;
  }
}

.yellow {
  padding: 15px 15px;
  color: #000;
  background: rgb(255, 193, 7);
}
.cap {
  padding: 15px 25px;
  background: #007bff;
  color: #ffff;
}
</style>
