<template>
  <div id="login">
    <div class="container">
      <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
          <br />
          <br />
          <b-card img-top tag="article" class="text-left mb-2">
            <h5>
              <b>Login</b>
            </h5>
            <div v-if="serverTime===localtime">
              <div>
                <br />
                <label for>กรอกอีเมล์</label>
                <b-form-input v-model="data.email"></b-form-input>
              </div>

              <div>
                <br />
                <label for>กรอกพาสเวร์ด</label>
                <b-form-input v-model="data.pwd" type="password"></b-form-input>
               
              </div>

              <div class="text-center" v-if="css">
                <br />
                <b-badge pill :variant="css">{{msg}}</b-badge>
              </div>
              <br />
<vue-recaptcha sitekey="6Lepj-EUAAAAAFNh1vR5moKt5Mb6kfHd0S3XOUsr" @verify="onVerify"
          @expired="onExpired">
              <button class="btn btn-primary btn-block">เข้าสู่ระบบ</button>
</vue-recaptcha>
            </div>
            <div v-else>
              <h4>ตั้งเวลาใหม่ของเครื่องให้ตรงกับเวลา Server</h4>
              <p>{{serverTime}}</p>
            </div>
          </b-card>
          <center><small style="color:#ffffff;"><i class="fas fa-business-time"></i> SERVER LOCAL {{serverTime}} UPDATE</small><br>
          
          </center>
          <br />

          <br />
          <br />
        </div>
        <div class="col-md-3"></div>
      </div>
    </div>
  </div>
</template>

<script>

import VueRecaptcha from 'vue-recaptcha';
export default {
  name: "login",
  components: { VueRecaptcha  },
  mounted() {
   
    this.checkMytime();
     this.chectime();
     
  },
  data() {
    return {

      css: "",
      msg: "",
      data: {
        email: "",
        pwd: ""
      },
      serverTime: "",
      localtime: "",
      sitekey: '6Lepj-EUAAAAAFNh1vR5moKt5Mb6kfHd0S3XOUsr',
      exipire:''
    };
  },
  methods: {
    SetExpire(){
      this.exipire = new Date();
      this.exipire.setHours(this.exipire.getHours()+1)
      return this.exipire
    },
    onSubmit: function () {
      this.$refs.invisibleRecaptcha.execute()
    },
    onVerify: function () {
      this.login()
      
    },
    onExpired: function () {
    
    },
    resetRecaptcha () {
      this.$refs.recaptcha.reset() // Direct call reset method
    },
    checkMytime() {
      var a = new Date();
      this.localtime =
        a.getFullYear() +
        "-" +
        a.getMonth() +
        "-" +
        a.getDate() +
        " " +
        a.getHours() 

    },
    chectime() {
      this.axios.get("https://cardrunner.co/api/checkConnecting").then(doc => {
        var a = new Date(doc.data.date);

        this.serverTime =
          a.getFullYear() +
          "-" +
          a.getMonth() +
          "-" +
          a.getDate() +
          " " +
          a.getHours() 
        
      });
    },
    login() {
      if (this.data.email === "" || this.data.pwd === "") {
        this.css = "danger";
        this.msg = "กรอกทุกช่อง";
      } else if (this.data.pwd.length < 6) {
        this.css = "danger";
        this.msg = "รหัสผ่านไม่ควรน้อยกว่า 6 ตัวอักษร";
      } else if (!this.data.email.match("@")) {
        this.css = "danger";
        this.msg = "กรอก อีเมลให้ถูกต้อง";
      } else {
        this.axios
          .post("https://cardrunner.co/api/members/genreateToketn", {
            ...this.data
          })
          .then(response => {
            if (response.data.status === 200) {
              if(!response.data.data.point){
                this.jets= 0
              }else{
                 this.jets= response.data.data.point
              }

              if(!response.data.data.cash){
                this.cash = 0
              }else{
                this.cash = response.data.data.cash
              }
            

              this.css = "success";
              this.msg = response.data.msg;
              this.$session.set("token", response.data.data._id);
              this.$session.set("profile", response.data.data);
              this.$session.set("wallet", response.data.data.wallet);
              this.$session.set("point", this.jets)
              this.$session.set("cash",this.cash)
              this.$session.set("Expire_Token",this.SetExpire())
              window.location = "cp/";
            } else {
              this.css = "danger";
              this.msg = response.data.msg;
            }
          });
      }
    }
  }
};
</script>

<style scoped>
#login {
  min-height: 70vh;
  background: #144699;
  background-size: cover;
}
#login_cont {
  color: #ffffff;
}
a {
  color: #ffffff;
}
</style>