<template>
  <div id="plan">
    <br />
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h4>
            แผนการตลาด
            <hr />
          </h4>
          <p>แผนการตลาดสำหรับจ่ายสมาชิกแบ่งเป็น Card สามารถซื้อได้ไม่จำกัดจำนวนดังต่อไปนี้</p>
          

          <table class="table table-bordered">
            <tr>
              <th>ชื่อแพคเกจ</th>
              
              <th>ราคา</th>
              
              <th>ผลตอบแทน สำหรับ 8 ชม</th>
            </tr>

            <tr v-for="p in planes" :key="p">
              <td>{{p.pname}}</td>
              <td>{{p.price}}</td>
            
              <td>ประมาณ {{p.profit}}</td>
            </tr>
          </table>

          <br>
          <h4>
            แบ่งปันแนะนำสมาชิกใหม่ เพิ่มโอกาสสร้างรายได้
            <hr />
          </h4>
          <p>แนะนำสมาชิกใหม่จะได้รับส่วนแบ่งทางการตลาดดังต่อไปนี้</p>
          <ul>
            <li>ค่าแนะนำ 5% จากยอดสมาชิกที่สั่งซื้อเข้ามา</li>
            <li>ยอด Claim 10% ทุกๆครั้งที่มีการ Claim ของสมาชิกแนะนำ จะได้รับ เป็นค่า Commission</li>
          </ul>


          <br />
          <br />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "plane",
  data() {
    return {
      planes: [
        { pname: "Beginner", price: "300", profit: "~ 2.8" , pro:"-"},
        { pname: "Member", price: "550", profit: "~ 5.5"  , pro:"-"},
        { pname: "Standard", price: "1250", profit: "~ 13.33"   , pro:"-"},
        { pname: "Silver", price: "3500", profit: "~ 40.25"  , pro:"3150" },
        { pname: "Gold", price: "7000", profit: "~ 84" , pro:"6300" },
        { pname: "Platinum", price: "15000", profit: "~ 190" , pro:"13500" },
        { pname: "Exclusive", price: "30000", profit: "~ 390.00" , pro:"27000" },
        { pname: "Premium", price: "50000", profit: "~ 675.00" , pro:"45000" }
      ]
    };
  }
};
</script>

<style scoped>
#plan {
  min-height: 80vh;
}
</style>