<template>
  <div id="register">
    <div class="container">
      <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
          <br />
          <br />
          <b-card img-top tag="article" class="text-left mb-2">
            <h5>
              <b>Register</b>
            </h5>

            <div>
              <br />
              <label for>กรอกชื่อ - นามสกุล</label>
              <b-form-input v-model="data.fullname"></b-form-input>
            </div>
            <div>
              <br />
              <label for>กรอกอีเมล์</label>
              <b-form-input v-model="data.email" type="email"></b-form-input>
            </div>

            <div>
              <br />
              <label for>กรอกพาสเวร์ด</label>
              <b-form-input v-model="data.pwd" type="password"></b-form-input>
            </div>
            <div>
              <br />
              <label for>กรอกพาสเวร์ด อีกครั้ง</label>
              <b-form-input v-model="data.pwdd" type="password"></b-form-input>
            </div>

            <div class="text-center" v-if="css">
              <br />
              <b-badge pill :variant="css">{{msg}}</b-badge>
            </div>
            <br />


<vue-recaptcha sitekey="6Lepj-EUAAAAAFNh1vR5moKt5Mb6kfHd0S3XOUsr">
   <button class="btn btn-primary btn-block" @click="register">ลงทะเบียน</button>
  </vue-recaptcha>
            
          </b-card>
          <br />
          <center>
            <h2 id="register_cont">
              สมัคร
              <u>{{userCount}}</u> บัญชี
            </h2>
          </center>
          <br />
          <br />
        </div>
        <div class="col-md-3"></div>
      </div>
    </div>
  </div>
</template>

<script >
import VueRecaptcha from 'vue-recaptcha';
export default {
  name: "register",
 components: { VueRecaptcha },
  mounted() {
    this.ref = this.$route.query.affaliate;
    if (this.ref) {
      this.$session.set("ref", this.ref);
    }
    this.countus();
    this.sockets.subscribe('counterAsUSER', function() {
      this.userCount = this.userCount + 1;
    });
    this.ipcontinue();
   
  },
  data() {
    return {
      css: "",
      msg: "",
      data: {
        fullname: "",
        email: "",
        pwd: "",
        pwdd: "",
        ref: ""
      },
      userCount: 0,
      ip:''
    };
  },
  methods: {
    ipcontinue(){
        this.axios.get("https://api.ipify.org?format=json").then(doc=>{
         this.ip = doc.data.ip;
        })
    },
    countus() {
      this.axios
        .get("https://cardrunner.co/api/members/count")
        .then(respoonse => {
          this.userCount = respoonse.data.count;
        });
    },
    register() {
      if (
        this.data.fullname === "" ||
        this.data.email === "" ||
        this.data.pwd === "" ||
        this.data.pwdd === ""
      ) {
        this.css = "danger";
        this.msg = "กรอกให้ครบทุกช่อง";
      } else if (this.data.pwd != this.data.pwdd) {
        this.css = "danger";
        this.msg = "รหัสผ่านไม่ตรงกัน";
      } else if (this.data.pwd.length < 6) {
        this.css = "danger";
        this.msg = "รหัสผ่านไม่ควรน้อยกว่า 6 ตัวอักษร";
      } else if (!this.data.email.match("@")) {
        this.css = "danger";
        this.msg = "กรอก อีเมลให้ถูกต้อง ";
      } else if (!this.data.email.match("hotmail.com") && !this.data.email.match("gmail.com") && !this.data.email.match("hotmail.co.th")) {
        this.css = "danger";
        this.msg = "กรอก อีเมลให้ถูกต้อง ใช้อีเมล hotmail , gmail เท่านั้น";
      }
       else {
        this.axios
          .post("https://cardrunner.co/api/members/registers", {
            fullname: this.data.fullname,
            email: this.data.email.toLowerCase().trim(),
            pwd: this.data.pwd,
            ref: this.$session.get("ref"),
            ip :this.ip
          })
          .then(response => {
            if (response.data.status === 200) {
              this.css = "success";
              this.msg = response.data.msg;
              this.$router.push("login");
            } else {
              this.css = "danger";
              this.msg = response.data.msg;
            }
          });
      }
    }
  }
};
</script>

<style scoped>
#register {
  min-height: 70vh;
  background: #144699;
  background-size: cover;
}
#register_cont {
  color: #ffffff;
}
</style>