<template>
  <div id="active">
    <b-navbar toggleable="lg" variant="light" type="light"  sticky="ture">
      <b-navbar-brand href="../" target="_bank">
        <B><img :src="logos"  width="180"/></B>
      </b-navbar-brand>

      <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

      <b-collapse id="nav-collapse" is-nav>
        <b-navbar-nav>
          <b-nav-item to="/cp/">
            <i class="fas fa-user-circle"></i> บัญชี
          </b-nav-item>
          <b-nav-item to="/cp/ticket">
            <i class="fas fa-ticket-alt"></i> ซื้อการ์ด
          </b-nav-item>
          <b-nav-item to="/cp/deposit">
            <i class="fas fa-wallet"></i> ฝากเงิน
          </b-nav-item>
          <b-nav-item to="/cp/withdraw">
            <i class="far fa-credit-card"></i> ถอนเงิน
          </b-nav-item>

          <b-nav-item to="/cp/challenge">
            <i class="fas fa-trophy"></i> การแข่งขัน
          </b-nav-item>
        </b-navbar-nav>

        <!-- Right aligned nav items -->
        <b-navbar-nav class="ml-auto">
          <b-nav-item @click="loadAllWallet" v-if="counterpain>=30">
            <i class="fas fa-sync-alt" id="rotage"></i>
          </b-nav-item>

          <b-nav-item-dropdown right>
            <template v-slot:button-content>
              <b id="ab">
                <i class="fas fa-wallet"></i>
                กระเป๋าเงิน
              </b>
            </template>

            <b-dropdown-item to>
              <i class="fas fa-wallet"></i>
              WALLET {{wallet.toFixed(2) | currency('฿') }}
            </b-dropdown-item>

            <b-dropdown-item to>
              <i class="fas fa-money-bill-alt"></i>
              CASH
              {{cash.toFixed(2) | currency('฿') }}
            </b-dropdown-item>

            <b-dropdown-item to>
              <i class="fas fa-file-powerpoint"></i>
              Point
              <number
                ref="number1"
                :from="0"
                :to="point"
                :format="theFormat"
                :duration="1"
                :delay="0"
                easing="Power1.easeOut"
              >{{point.toFixed(2) | currency('') }}</number>
            </b-dropdown-item>


            


          </b-nav-item-dropdown>

          <b-nav-item-dropdown right>
            <!-- Using 'button-content' slot -->
            <template v-slot:button-content>
              <b id="ab">
                <i class="fas fa-user"></i>
                บัญชี : {{profile.fullname}}
              </b>
            </template>
              <b-dropdown-item to="/cp/transfertocash">
             โอนเงินจาก WALLET ไป CASH
            </b-dropdown-item>
            <b-dropdown-item to="/cp/affaliate">แชร์แล้วสร้างรายได้</b-dropdown-item>
            <b-dropdown-item to="/cp/history">ประวัติการทำรายการ</b-dropdown-item>
            <b-dropdown-item href="/cp/logout">ออกจากระบบ</b-dropdown-item>
          </b-nav-item-dropdown>
        </b-navbar-nav>
      </b-collapse>
    </b-navbar>

   
  </div>
</template>

<script>
import logos from "@/assets/logos.png"
export default {
  name: "active",
  mounted() {
    this.wallet = this.$session.get("wallet");
    this.cash = this.$session.get("cash");
    this.token = this.$session.get("token");
    this.profile = this.$session.get("profile");
    this.point = this.$session.get("point");

    this.sockets.subscribe("WALLET_" + this.token, function(data) {
      if (data.type === "dis") {
        this.wallet = this.wallet - data.amount;
        this.$session.set("wallet", this.wallet);
      } else {
        this.wallet = this.wallet + data.amount;
        this.$session.set("wallet", this.wallet);
      }
    });

    this.sockets.subscribe("CASH_" + this.token, function(data) {
      if (data.type === "dis") {
        this.cash = this.cash - data.amount;
        this.$session.set("cash", this.cash);
      } else {
        this.cash = this.cash + data.amount;
        this.$session.set("cash", this.cash);
      }
    });
  },
  data() {
    return {
      logos:logos,
      wallet: 0,
      profile: "",
      token: "",
      point: 0,
      counterpain: 30,
      cash: 0
    };
  },
  methods: {
    getLoop() {
      setInterval(() => {
        this.counterpain++;
      }, 1000);
    },
    loadAllWallet() {
      this.axios
        .get("https://cardrunner.co/api/members/" + this.token + "/loadWallets")
        .then(doc => {
          if (doc.data.status === 200) {
             this.$session.set("wallet", doc.data.data.wallet);
              this.wallet = doc.data.data.wallet;
            if (!doc.data.data.point) {
              this.jets = 0;
            } else {
              this.jets = doc.data.data.point;
            }
            if (!doc.data.data.cash) {
              this.cash = 0;
            } else {
              this.cash = doc.data.data.cash;
            }
           
            this.$session.set("point", this.jets);
            this.$session.set("cash", this.cash);
           
            this.point = this.jets;
            this.counterpain = 0;
            this.getLoop();
          }
        });
    }
  }
};
</script>

<style scoped>
#rotage {
  border-radius: 50%;
  -webkit-transition: -webkit-transform 0.8s ease-in-out;
  transition: transform 0.8s ease-in-out;
}
#rotage:hover {
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}
.navbar-brand {
  font-size: 22px !important;
}
.navbar {
  font-size: 18px !important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.btn {
  padding: 1px !important;
}
.tabs {
  background: #f28b24;
  width: 100%;
  height: 2px;
}
.bg-dark {
  background: #131c32 !important;
  padding: 16px;
}

.nav-link,
#ab {
  font-weight: bold;
  color: #000000 !important;
}

.router-link-exact-active {
  color: #f28b24 !important;
}
</style>