<template>
  <div id="adder">
    <b-navbar toggleable="lg" type="dark" variant="dark" sticky="ture">
      <b-navbar-brand href="./">
        <B>CARDRUNNER</B>
      </b-navbar-brand>

      <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

      <b-collapse id="nav-collapse" is-nav>
        <b-navbar-nav>
          <b-nav-item to="../../zibra/">
            <i class="fas fa-user-circle"></i> AllAccount
          </b-nav-item>
          <b-nav-item to="/zibra/addmoney">
            <i class="fas fa-user-circle"></i> Deposit
          </b-nav-item>

          <b-nav-item to="/zibra/withdraw">
            <i class="fas fa-user-circle"></i> รายการถอน
          </b-nav-item>

           <b-nav-item to="/zibra/withdrawDanger">
            <i class="fas fa-user-circle"></i> รายการอันตราย
          </b-nav-item>
        </b-navbar-nav>

        <!-- Right aligned nav items -->
        <b-navbar-nav class="ml-auto">
          <b-nav-item-dropdown right>
            <b-dropdown-item href="logout">ออกจากระบบ</b-dropdown-item>
          </b-nav-item-dropdown>
        </b-navbar-nav>
      </b-collapse>
    </b-navbar>

    <div class="tabs"></div>
  </div>
</template>

<script>
export default {
  name: "adder"
};
</script>

<style scoped>
.navbar-brand {
  font-size: 22px !important;
}
.navbar {
  font-size: 18px !important;
}
.btn {
  padding: 1px !important;
}
.tabs {
  background: #f28b24;
  width: 100%;
  height: 2px;
}
.bg-dark {
  background: #131c32 !important;
  padding: 16px;
}

.nav-link,
#ab {
  font-weight: bold;
  color: #ffffff !important;
}

.router-link-exact-active {
  color: #f28b24 !important;
}
</style>