<template>
  <div id="block">

<b-modal id="modal-1" ref="my-modal" title="ย้ายไป Danger Size" hide-footer >
    <p class="my-4">ต้องการย้าย {{detail}}</p>

         <div>
              
                <label for>Comment</label>
                <b-form-input v-model="comment"></b-form-input>
              </div>

     <b-button class="mt-3" variant="danger btn-block" @click="sendToDanger" >ส่งไปห้อง อันตราย</b-button>

  </b-modal>

  </div>
</template>

<script>
export default {
    name:'block',
    props:{
        id:String,
        detail:String,
        update:Function
    },
    mounted(){
        this.token = this.$session.get("allows");
        this.comment = ''
    },
    data() {
        return {
            comment:''
        }
    },
    methods:{
        sendToDanger(){
           
            this.axios.post("https://cardrunner.co/api/admin/" + this.token + "/witdrawBlock",{
                id:this.$props.id,
                comment:this.comment
            }).then(()=>{
                 this.$refs['my-modal'].hide()
                this.comment=''
                this.update();
            })
        }
    }
}
</script>

<style scoped>


</style>