<template>
  <div id="card">
    <b-card
      title="Beginner"
      img-alt="Image"
      img-top
      tag="article"
      style="max-width: 20rem;"
      class="mb-2"
    >
      <b-card-text>
        <p>
          รายได้ต่อ 255 บาท/วัน
          <br />หมดอายุทุกๆ 3 ชม.
        </p>
      </b-card-text>

      <b-button to="register" variant="primary">Buy Ticket</b-button>
    </b-card>
  </div>
</template>

<script>
export default {
  name: "card"
};
</script>

<style scoped>
.card {
  -webkit-box-shadow: -8px -2px 80px -27px rgba(0, 0, 0, 0.83);
  -moz-box-shadow: -8px -2px 80px -27px rgba(0, 0, 0, 0.83);
  box-shadow: -8px -2px 80px -27px rgba(0, 0, 0, 0.83);

  background-size: cover;
  border: none !important;
}
</style>