<template>
  <div id="checkin"></div>
</template>

<script>
export default {
  name: "check",
  mounted() {
        this.Checker()
  },
  methods: {
    Checker() {
      this.datnew = new Date();
      this.Exp = new Date(this.$session.get("Expire_Token"));
      if (this.Exp < this.datnew) {
        this.$router.push("/cp/logout");
      }
    }
  }
};
</script>

<style>
</style>