<template>
  <div id="alert">
    <b-modal id="modal-lg" size="lg" title="คำเตือน" v-model="modalShow"  hide-footer >
    

 <b-button class="mt-3" block @click="$bvModal.hide('modal-lg')">ปิด</b-button>
    </b-modal>
  </div>
</template>

<script>
export default {
  name: "alert",
  props:{
      cID:String
  },
  mounted(){
      console.log(this.$props.cID)
  },
  data() {
    return {
      modalShow: false
    };
  }
};
</script>

<style scoped>
h1{
    font-size: 84px;
    color: red;
}
</style>