<template>
  <div id="footer">

<div class="minH"></div>
<div id="fo">
<div class="container">
       <div class="row">
        <div class="col-md-4 text-left">
            <h5>แผนที่เว็บไซต์</h5>
            <a href="https://cardrunner.co/register">- ไปยังหน้าลงทะเบียน</a><br>
             <a href="https://cardrunner.co/login">- เข้าสู่ระบบ</a>
        </div>

         <div class="col-md-4 text-left">
            <h5>คำถามที่พบบ่อย</h5>
            <a href="https://cardrunner.co/about">- คำถามที่พบบ่อย</a><br>
             
        </div>

          <div class="col-md-4 text-left">
            <h5>ติดต่อเรา</h5>
            <a  href="https://lin.ee/hUTAxom" target="_bank" >- line : @cardrunner  (ใช้ Line นี้ในการติดต่อสื่อสารเท่านั้น)</a><br>
            <router-link to="">- Email : cardrunnerservice@gmail.com </router-link><br>
            
             
        </div>

        
       </div>
       <div class="row">
            <div class="col-md-12 text-center"><br>
              <small><i class="fa fa-copyright" aria-hidden="true"></i> Copyright 2020 สงวนสิทธิ์</small>
            </div>
       </div>



      </div>

</div>
      
  </div>
</template>

<script>
import lineadd from "@/assets/line.png"
export default {
    name:'footer',
    data() {
      return {
        lineadd:lineadd
      }
    },

}
</script>

<style scoped>

#fo{
  padding: 50px 50px;
  color:#FFFFFF;
  background: #144699;
}

a{
  font-size: 12px;
  font-weight: bold;
  color: #ffffff !important;
}

a:focus{
  color: #F28B24 !important;
}

</style>