<template>
  <div id="nonActive">
    <b-navbar toggleable="lg"  variant="light" type="light"  sticky="ture">
      <b-navbar-brand to="./">
        <B><img :src="logos"  width="180"/></B>
      </b-navbar-brand>

      <b-navbar-toggle target="nav-collapse"> </b-navbar-toggle>

      <b-collapse id="nav-collapse" is-nav>
        <b-navbar-nav>
          <b-nav-item to="./"><i class="fas fa-home"></i> หน้าหลัก</b-nav-item>
           <b-nav-item to="/panner"><i class="fas fa-map-marked-alt"></i> แผนการตลาด</b-nav-item>
          <b-nav-item to="/about"><i class="fas fa-question"></i> คำถามที่พบบ่อย</b-nav-item>
           <b-nav-item to="/challenge"><i class="fas fa-trophy"></i> การแข่งขัน</b-nav-item>
         
        </b-navbar-nav>

        <!-- Right aligned nav items -->
        <b-navbar-nav class="ml-auto">
          <b-nav-item to="/register" ><i class="fas fa-cash-register"></i> สมัครสมาชิก</b-nav-item>
          <b-nav-item to="/login" ><i class="fas fa-clipboard-list"></i> เข้าสู่ระบบ</b-nav-item>
        </b-navbar-nav>
      </b-collapse>
    </b-navbar>
  
  </div>
</template>

<script>
import logos from "@/assets/logos.png"
export default {
  name: "nonActive",
  data() {
    return {
      logos:logos
    }
  },
};
</script>

<style scoped>
.navbar-brand {
  font-size: 22px !important;
}
.navbar {
  font-size: 18px !important;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
.btn {
  padding: 1px !important;
}
.tabs {
  background: #f28b24;
  width: 100%;
  height: 2px;
}
.bg-dark {
  background: #131c32 !important;
  padding: 16px;
}

.nav-link {
  font-weight: bold;
  color: #000000 !important;
}

.nav-link:focus {
  color: #f28b24 !important;
}
</style>