<template>
  <div id="runcard">
    <div class="card" :style="'background:url('+cardtype[ticket.package]+');'">
      <div class="bank-name" >CARD.IO </div>
      <div class="chip">
        <div class="side left"></div>
        <div class="side right"></div>
        <div class="vertical top"></div>
        <div class="vertical bottom"></div>
      </div>
      <div class="data">
        <div class="pan" :title="bonus">
          <number
            ref="number1"
            :from="bonus"
            :to="bonus"
            :format="theFormat"
            :duration="1"
            :delay="1"
            easing="Power1.easeOut"
          >{{bonus | currency('',11)}}</number>

          <div class="first-digits">{{ticket.pkname}}</div>
          <div class="exp-date-wrapper">
            <div class="left-label">EXPIRES END</div>
            <div class="exp-date">
              <div class="upper-labels">Expire date</div>
              <div
                class="date"
                :title="ticket.dateExpire"
              > {{takdown}} Days</div>
            </div>
          </div>
          
        </div>
        <div class="lines-down"></div>
        <div class="lines-up"></div>
      </div>
    </div>
  </div>
</template>

<script>
import star from "@/assets/1.png";
import p1 from "@/assets/01.jpg";
import p2 from "@/assets/02.jpg";
import p3 from "@/assets/03.jpg";
import p4 from "@/assets/04.png";
import p5 from "@/assets/05.jpg";
import p6 from "@/assets/06.jpg";
import p7 from "@/assets/07.jpg";
import p8 from "@/assets/08.jpg";
export default {
  name: "runcard",
  props: {
    pid: String,
    dialog:Function
  },
  mounted() {
    this.token = this.$session.get("token");
    this.loadDetails();
    this.countgin();
   
  },
  data() {
    return {
      star: star,
      step: "",
      ticket: "",
      bonus: 0,
      start: "",
      stop: "",
      mkSukie: 0,
      btnCliam: "off",
      ddDate: "",
      percent: "",
      btn: "",
      cardtype: ["", p1, p2, p3, p4, p5, p6, p7, p8],
      takdown:""
    };
  },
  methods: {
    diffdate(a){
       this.takdown = 60-this.spirtDate(a)
       return this.takdown;
    },
        spirtDate(a){
        var date1 = this.setDateFormat(a)
        var date2 = this.setDateFormat(new Date())
        date1 = date1.split("/");
        date2 = date2.split("/");
        var sDate = new Date(date1[2], date1[1] - 1, date1[0]);
        var eDate = new Date(date2[2], date2[1] - 1, date2[0]);

        var dayDiff = Math.round((eDate - sDate) / 86400000)
          
        return dayDiff

    }
    , setDateFormat(a) {
         var e = new Date(a);
         return this.setDay(e.getDate()) + '/' + this.setDay(e.getMonth()) + '/' + e.getFullYear();

     },
    setDay(a) {
         if (a < 10) {
             return "0" + a
         } else {
             return a
         }
     },
    theFormat(number) {
      return number.toFixed(11);
    },
    countgin() {
      setInterval(() => {
        if (this.ticket.endWorker) {
          this.loadPersec();
          if (this.mkSukie < 28800) {
            this.mkSukie = this.mkSukie + 1;
            this.bonus = this.bonus + this.ticket.persec;
          } else {
            clearInterval();
            this.btnCliam = "on";
            this.mkSukie = 28800;
            this.bonus = this.ticket.persec * 28800;
          }
        } else {
          this.bonus = 0;
          this.mkSukie = 0;
          this.percent = 0 + "%";
        }
      }, 1000);
    },
    loadPersec() {
      this.start = new Date().getTime() / 1000;
      this.stop = new Date(this.ticket.startWorker).getTime() / 1000;
      this.mkSukie = this.start - this.stop;
      this.bonus = this.mkSukie * this.ticket.persec;
      this.step = (this.mkSukie * 100) / this.ticket.limit;
      this.percent = this.step + "%";
      this.step = "width:" + this.step + "%";
    },
    loadDetails() {
      this.axios
        .get(
          "https://cardrunner.co/api/members/" +
            this.token +
            "/tikedOne/" +
            this.pid
        )
        .then(response => {
          
          this.ticket = response.data.data;
          this.ddDate = response.data.date;
        this.diffdate(this.ticket.dateBuy)
          
        });
    },
   
    
  }
};
</script>

<style scoped>
@font-face {
  font-family: "Iceland";
  font-style: normal;
  font-weight: 400;
  src: local("Iceland"), local("Iceland-Regular"),
    url(https://fonts.gstatic.com/s/iceland/v8/rax9HiuFsdMNOnWPaKtMBA.ttf)
      format("truetype");
}
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans Regular"), local("OpenSans-Regular"),
    url(https://fonts.gstatic.com/s/opensans/v17/mem8YaGs126MiZpBA-UFVZ0e.ttf)
      format("truetype");
}
body {
  background-color: #ecf0f1;
}
.card {
  -webkit-box-shadow: -8px -2px 2px -27px rgba(0, 0, 0, 0.83);
  -moz-box-shadow: -8px -2px 2px -27px rgba(0, 0, 0, 0.83);
  box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.83);

  margin: auto;
  width: 100%;
  height: 230px;
  color: #fff;
  font: 22px/1 "Iceland", monospace;

  border: 1px solid #1e1584;
  -webkit-border-radius: 10px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 10px;
  -moz-background-clip: padding;
  border-radius: 10px;
  background-clip: padding-box;
  overflow: hidden;
}
.bank-name {
  padding: 5px 25px;
  margin-top: 15px;
  margin-right: 0px;
  text-align: right;
  font: 800 28px "Open Sans", Arial, sans-serif;
  z-index: 999;
}
.chip {
  position: relative;
  z-index: 1000;
  width: 50px;
  height: 40px;
  margin-top: 00px;
  margin-bottom: 10px;
  margin-left: 30px;
  background: #fffcb1;
  /* Old browsers */
  background: -moz-linear-gradient(-45deg, #fffcb1 0%, #b4a365 100%);
  /* FF3.6+ */
  background: -webkit-gradient(
    linear,
    left top,
    right bottom,
    color-stop(0%, #fffcb1),
    color-stop(100%, #b4a365)
  );
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(-45deg, #fffcb1 0%, #b4a365 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(-45deg, #fffcb1 0%, #b4a365 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(-45deg, #fffcb1 0%, #b4a365 100%);
  /* IE10+ */
  background: linear-gradient(135deg, #fffcb1 0%, #b4a365 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#fffcb1", endColorstr="#b4a365", GradientType=1);
  /* IE6-9 fallback on horizontal gradient */
  border: 1px solid #322d28;
  -webkit-border-radius: 10px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 10px;
  -moz-background-clip: padding;
  border-radius: 10px;
  background-clip: padding-box;
  -webkit-box-shadow: 0 1px 2px #322d28,
    0 0 5px 0 0 5px rgba(144, 133, 87, 0.25) inset;
  -moz-box-shadow: 0 1px 2px #322d28,
    0 0 5px 0 0 5px rgba(144, 133, 87, 0.25) inset;
  box-shadow: 0 1px 2px #322d28, 0 0 5px 0 0 5px rgba(144, 133, 87, 0.25) inset;
  overflow: hidden;
}
.chip .side {
  position: absolute;
  top: 8px;
  width: 12px;
  height: 24px;
  border: 1px solid #322d28;
  -webkit-box-shadow: 0 0 5px rgba(144, 133, 87, 0.25) inset,
    0 0 5px rgba(144, 133, 87, 0.25), 0 0 4px rgba(0, 0, 0, 0.1),
    0 0 4px rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow: 0 0 5px rgba(144, 133, 87, 0.25) inset,
    0 0 5px rgba(144, 133, 87, 0.25), 0 0 4px rgba(0, 0, 0, 0.1),
    0 0 4px rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0 0 5px rgba(144, 133, 87, 0.25) inset,
    0 0 5px rgba(144, 133, 87, 0.25), 0 0 4px rgba(0, 0, 0, 0.1),
    0 0 4px rgba(0, 0, 0, 0.1) inset;
}
.chip .side.left {
  left: 0;
  border-left: none;
  -webkit-border-radius: 0 2px 2px 0;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 0 2px 2px 0;
  -moz-background-clip: padding;
  border-radius: 0 2px 2px 0;
  background-clip: padding-box;
}
.chip .side.right {
  right: 0;
  border-right: none;
  -webkit-border-radius: 2px 0 0 2px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 2px 0 0 2px;
  -moz-background-clip: padding;
  border-radius: 2px 0 0 2px;
  background-clip: padding-box;
}
.chip .side:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: inline-block;
  width: 100%;
  height: 0px;
  margin: auto;
  border-top: 1px solid #322d28;
  -webkit-box-shadow: 0 0 5px rgba(144, 133, 87, 0.25) inset,
    0 0 5px rgba(144, 133, 87, 0.25), 0 0 4px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 0 5px rgba(144, 133, 87, 0.25) inset,
    0 0 5px rgba(144, 133, 87, 0.25), 0 0 4px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 5px rgba(144, 133, 87, 0.25) inset,
    0 0 5px rgba(144, 133, 87, 0.25), 0 0 4px rgba(0, 0, 0, 0.1);
}
.chip .vertical {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 8.66666667px;
  height: 12px;
  border: 1px solid #322d28;
  -webkit-box-shadow: 0 0 5px rgba(144, 133, 87, 0.25) inset,
    0 0 5px rgba(144, 133, 87, 0.25), 0 0 4px rgba(0, 0, 0, 0.1),
    0 0 4px rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow: 0 0 5px rgba(144, 133, 87, 0.25) inset,
    0 0 5px rgba(144, 133, 87, 0.25), 0 0 4px rgba(0, 0, 0, 0.1),
    0 0 4px rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0 0 5px rgba(144, 133, 87, 0.25) inset,
    0 0 5px rgba(144, 133, 87, 0.25), 0 0 4px rgba(0, 0, 0, 0.1),
    0 0 4px rgba(0, 0, 0, 0.1) inset;
}
.chip .vertical.top {
  top: 0;
  border-top: none;
}
.chip .vertical.top:after {
  top: 12px;
  width: 17.33333333px;
}
.chip .vertical.bottom {
  bottom: 0;
  border-bottom: none;
}
.chip .vertical.bottom:after {
  bottom: 12px;
}
.chip .vertical:after {
  content: "";
  position: absolute;
  left: -8.66666667px;
  display: inline-block;
  width: 26px;
  height: 0px;
  margin: 0;
  border-top: 1px solid #322d28;
  -webkit-box-shadow: 0 0 5px rgba(144, 133, 87, 0.25) inset,
    0 0 5px rgba(144, 133, 87, 0.25), 0 0 4px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 0 5px rgba(144, 133, 87, 0.25) inset,
    0 0 5px rgba(144, 133, 87, 0.25), 0 0 4px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 5px rgba(144, 133, 87, 0.25) inset,
    0 0 5px rgba(144, 133, 87, 0.25), 0 0 4px rgba(0, 0, 0, 0.1);
}
.data {
  position: relative;
  z-index: 100;
  margin-left: 30px;
  text-transform: uppercase;
}
.data .pan,
.data .month,
.data .year,
.data .year:before,
.data .name-on-card,
.data .date {
  position: relative;
  z-index: 20;
  letter-spacing: 1px;
  text-shadow: 1px 1px 1px #000;
}
.data .pan:before,
.data .month:before,
.data .year:before,
.data .year:before:before,
.data .name-on-card:before,
.data .date:before,
.data .pan:after,
.data .month:after,
.data .year:after,
.data .year:before:after,
.data .name-on-card:after,
.data .date:after {
  position: absolute;
  z-index: -10;
  content: attr(title);
  color: rgba(0, 0, 0, 0.2);
  text-shadow: none;
}
.data .pan:before,
.data .month:before,
.data .year:before,
.data .year:before:before,
.data .name-on-card:before,
.data .date:before {
  top: -1px;
  left: -1px;
  color: rgba(0, 0, 0, 0.1);
}
.data .pan:after,
.data .month:after,
.data .year:after,
.data .year:before:after,
.data .name-on-card:after,
.data .date:after {
  top: 1px;
  left: 1px;
  z-index: 10;
}
.data .pan {
  position: relative;
  z-index: 50;
  margin: 0;
  letter-spacing: 1px;
  font-size: 26px;
}
.data .first-digits {
  margin: 0;
  font: 400 10px/1 "Open Sans", Arial, sans-serif;
}
.data .exp-date-wrapper {
  margin-top: 5px;
  margin-left: 64px;
  line-height: 1;
  *zoom: 1;
}
.data .exp-date-wrapper:before,
.data .exp-date-wrapper:after {
  content: " ";
  display: table;
}
.data .exp-date-wrapper:after {
  clear: both;
}
.data .exp-date-wrapper .left-label {
  display: inline-block;
  width: 40px;
  font: 400 7px/8px "Open Sans", Arial, sans-serif;
  letter-spacing: 0.5px;
}
.data .exp-date-wrapper .exp-date {
  display: inline-block;

  margin-top: -10px;
  margin-left: 10px;
  text-align: center;
}
.data .exp-date-wrapper .exp-date .upper-labels {
  font: 400 7px/1 "Open Sans", Arial, sans-serif;
}
.data .exp-date-wrapper .exp-date .year:before {
  content: "/";
}
.data .name-on-card {
  margin-top: 10px;
}
</style>