<template>
  <div id="addmoney">
    <br />
    <div class="container-fuild">
      <div class="row">
        <div class="col-md-12">
          <h4>ฝากเงิน</h4>
<router-link to="/zibra/addmoney_perdays">ตรวจสอบรายวัน</router-link>  | <router-link to="/zibra/approve_depo">รายการที่กดยืนยันแล้ว</router-link>
          <b-table
            responsive
            id="my-table"
            :items="items"
            :per-page="perPage"
            :current-page="currentPage"
            :fields="fields"
            :sort-by.sync="sortBy"
            :sort-desc.sync="sortDesc"
            :filter="filter"
            :filterIncludedFields="filterOn"
          >
            <template v-slot:cell(datetime)="data">
              <i class="fas fa-calendar-week"></i>
              {{ data.item.time | moment("HH:mm:ss") }} {{data.item.dateTransfer | moment("YY/MM/DD") }}
            </template>

            <template v-slot:cell(picture)="data">
              <a :href="data.value" target="_bank">รูป</a>
            </template>

            <template v-slot:cell(cancle)="data">
              <button class="btn btn-danger" :disabled="btn!==''" @click="can(data.item._id)">ยกเลิก</button>
            </template>

            <template v-slot:cell(accpet)="data">
              <button :disabled="btn!==''"
                class="btn btn-success"  
                @click="acc(data.item._id,data.item.memID,data.item.amount)"
                
              >ยินยัน</button>
            </template>
          </b-table>

          <b-pagination
            v-model="currentPage"
            :total-rows="rows"
            :per-page="perPage"
            aria-controls="my-table"
          ></b-pagination>

          <br />
          <br />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "admoney",
  mounted() {
    this.token = this.$session.get("allows");
    this.loaddeposit();
  
  },
  data() {
    return {
      sortBy: "date",
      sortDesc: true,
      perPage: 30,
      currentPage: 1,
      fields: [
        { key: "cancle", label: "" },
        { key: "profile.fullname", label: "ชื่อ", sortable: true },
        { key: "profile.email", label: "Email", sortable: true },
        { key: "amount", label: "จำนวนเงินฝาก", sortable: true },
        { key: "datetime", label: "วันเวลา", sortable: true },
        { key: "picture", label: "รูปภาพ" },
        { key: "accpet", label: "" }
      ],
      items: [],
      filter: null,
      filterOn: [],
      allwallet: 0,
      btn:''
    };
  },
  methods: {
  
    loaddeposit() {
      this.axios
        .get("https://cardrunner.co/api/admin/" + this.token + "/deposit")
        .then(response => {
          this.items = response.data.data;
        });
    },
    can(d) {
      this.axios
        .get(
          "https://cardrunner.co/api/admin/" +
            this.token +
            "/deposit/" +
            d +
            "/error"
        )
        .then(res => {
          if (res.data.status === 200) {
            this.loaddeposit();
          }
        });
    },
    acc(a, b, c) {
      this.axios
        .post(
          "https://cardrunner.co/api/admin/" + this.token + "/deposit/add",
          {
            id: a,
            memID: b,
            amount: Number(c)
          }
        )
        .then(res => {
          if (res.data.status === 200) {
            this.loaddeposit();
          }
        });
    }
  },
  computed: {
    rows() {
      return this.items.length;
    }
  }
};
</script>

<style scoped>
#addmoney {
  min-height: 80vh;
}
</style>