<template>
  <div id="deoisit_perdays">
    <br />
    <br />
    <div class="container">
            <div class="row">
       <div class="col-md-12">
         <chart  type="deposit" />
       </div>
            </div>
      <div class="row">
        <div class="col-md-12">
          <h4>รายการฝากตามวัน </h4>

          <b-table
            responsive
            id="my-table"
            :items="items"
            :per-page="perPage"
            :current-page="currentPage"
            :fields="fields"
            :sort-by.sync="sortBy"
            :sort-desc.sync="sortDesc"
            :filter="filter"
            :filterIncludedFields="filterOn"
          >
          
          
           <template v-slot:cell(_id)="data">
              <i class="fas fa-calendar-day"></i> {{data.value | moment("YYYY/MM/DD")}} 
            </template>
            <template v-slot:cell(amount)="data">
              THB {{data.value}}  
            </template>

          </b-table>

          <b-pagination
            v-model="currentPage"
            :total-rows="rows"
            :per-page="perPage"
            aria-controls="my-table"
          ></b-pagination>

          <br><br>
        </div>
      </div>
    </div>
  </div>
</template>

<script>

export default {
  name: "deposit_perdays",

   mounted() {
    this.token = this.$session.get("allows");
    this.loadDing()
  },
  data() {
    return {
      sortBy: "_id",
      sortDesc: true,
      perPage: 30,
      currentPage: 1,
      fields: [
        { key: "_id", label: "Date" ,sortable: true},
         { key: "lister", label: "จำนวรายฝาก", sortable: true },
        { key: "amount", label: "จำนวนเงิน", sortable: true }
    
      ],
      items: [],
      filter: null,
      filterOn: []
    };
  },
  methods:{
      loadDing(){
          this.axios.get("https://cardrunner.co/api/admin/"+this.token+"/deptSetday").then(doc=>{
              if(doc.data.status===200){
             this.items = doc.data.data
              }
          })
      }
  }
};
</script>

<style scoped>
#withdraw_perdays {
  min-height: 80vh;
}
</style>