<template>
  <div id="addsetting">
    <br />
    <div class="container">

       <div class="row">
        <div class="col-md-12">



<br>
        </div>
       </div>
      <div class="row">
        <div class="col-md-12">
         

 <b-table
            responsive
            id="my-table"
            :items="pacakge"
            :fields="pkfiled"
            small
          ></b-table>
          <br><br>
           <h4>
            ค้นหาพบ {{allwallet}} รายการ ยอดรวม Wallet {{walleted}}
            <br />
            
            
            


          </h4>
          <hr>
            <b-form-select v-model="data.selected" :options="options"></b-form-select><br><br>
          <b-input-group size="lg">
            <b-form-input
              v-model="data.search"
              type="search"
              id="filterInput"
              :placeholder="'ค้นหา อีเมล์ '+items.length+' คน'"
            ></b-form-input>
            <b-button class="btn btn-primary" @click="findmembers">ค้นหา</b-button>
          </b-input-group>
          
          <br />
  <b-spinner label="Spinning" v-if="loadis==='1'"></b-spinner>

          <b-table
            responsive
            id="my-table"
            :items="items"
            :fields="fields"
            :sort-by.sync="sortBy"
            :sort-desc.sync="sortDesc"
       
          >

          <template v-slot:cell(fullname)="data">
             
              <router-link :to="'edit/'+data.item._id" >{{ data.value }}</router-link>
            </template>
            <template v-slot:cell(Createis)="data">
              <i class="fas fa-calendar-week"></i>
              {{ data.value | moment("YYYY/MM/DD HH:mm:ss") }}
            </template>
          </b-table>

     
        </div>
      </div>
    </div>
    <br />
    <br />
  </div>
</template>

<script>

export default {
  name: "addsetting",

  mounted() {
    
    this.token = this.$session.get("allows");
    this.loadPackage();
    this.loadWallet();
  },
  data() {
    return {
     
      data:{
        selected:null,
        search:""
      },
      
        options: [
          { value: null, text: 'เลือกการค้นหา' },
          { value: 'bankaccount', text: 'เลขที่บัญชีธนาคาร' },
           { value: 'password', text: 'พาสเวริด์' },
          { value: 'email', text: 'อีเมล' },
          { value: 'fullname', text: 'ชื่อ' },
           { value: 'id', text: 'ID' }
           
        ],
      sortBy: "date",
      sortDesc: true,
      fields: [
        { key: "fullname", label: "ชื่อ", sortable: true },
        { key: "email", label: "Email", sortable: true },
        { key: "pwd", label: "Password", sortable: true },
        { key: "wallet", label: "Wallet", sortable: true }
      ],
      items: [],
    
      allwallet: 0,
      pacakge: "",
      pkfiled: [
        { key: "_id", label: "Package" },
        { key: "pkname", label: "จำนวน" }
      ],
      walleted:0,
      loadis:0
    };
  },
  methods: {

   
    
    loadWallet(){
      this.axios.get("https://cardrunner.co/api/admin/" + this.token + "/loadallwallet").then(doc=>{
        this.walleted = doc.data.data[0].wallet
      })
    },
    findmembers(){
      this.loadis="1"
      if(this.data.selected===null){
        this.allwallet = "*เลือกรูปแบบค้นหา"
        this.loadis=0
      }else{
         this.axios.post("https://cardrunner.co/api/admin/" + this.token + "/findMembers",{
            type:this.data.selected,
            search:this.data.search
         }).then(doc=>{
          this.items = doc.data.data;
          this.allwallet = this.items.reduce(
            (acc) => acc +1,
            0
          );
              this.loadis=0
         })
      }
    },
    loadAllmembers() {
      this.axios
        .get("https://cardrunner.co/api/admin/" + this.token + "/loadmembers")
        .then(response => {
          this.items = response.data.data;
          this.allwallet = this.items.reduce(
            (acc, item) => acc + item.wallet,
            0
          );
        });
    },
    loadPackage() {
      this.axios
        .get("https://cardrunner.co/api/admin/" + this.token + "/cards")
        .then(response => {
          this.pacakge = response.data.data;
        });
    }
  },
  computed: {
    rows() {
      return this.items.length;
    }
  }
};
</script>

<style>
</style>