<template>
  <div id="apporivDepo">
<br>
      <div class="row">
        <div class="col-md-12">
          <h4>รายการฝากที่ยืนยันแล้ว</h4>

          <b-table
            responsive
            id="my-table"
            :items="items"
            :per-page="perPage"
            :current-page="currentPage"
            :fields="fields"
            :sort-by.sync="sortBy"
            :sort-desc.sync="sortDesc"
            :filter="filter"
            :filterIncludedFields="filterOn"
          >
          
          
           <template v-slot:cell(CreatDate)="data">
              <i class="fas fa-calendar-day"></i> {{data.value | moment("YYYY/MM/DD HH:mm:ss")}} 
            </template>
            <template v-slot:cell(amount)="data">
              THB {{data.value}}  
            </template>

            <template v-slot:cell(picture)="data">
              <a :href="data.value"  target="_bank" class="btn btn-primary">รูป SLIP</a>
            </template>

          </b-table>

          <b-pagination
            v-model="currentPage"
            :total-rows="rows"
            :per-page="perPage"
            aria-controls="my-table"
          ></b-pagination>

          <br><br>
        </div>
      </div>
  </div>
</template>

<script>
export default {
    name:'approve_depo',
    mounted(){
        this.token = this.$session.get("allows");
        this.loaddeposit();
    },
    data() {
        return {
    sortBy: "date",
      sortDesc: true,
      perPage: 30,
      currentPage: 1,
      fields: [
        { key: "cancle", label: "" },
        { key: "profile.fullname", label: "ชื่อ", sortable: true },
        { key: "profile.email", label: "Email", sortable: true },
        { key: "amount", label: "จำนวนเงินฝาก", sortable: true },
        { key: "CreatDate", label: "วันเวลา", sortable: true },
        { key: "picture", label: "รูปภาพ" },
        { key: "accpet", label: "" }
      ],
      items: [],
      filter: null,
      filterOn: [],
      allwallet: 0,
      btn:''
        }
    },
    methods:{
        loaddeposit() {
      this.axios
        .get("https://cardrunner.co/api/admin/" + this.token + "/deposit_approve")
        .then(response => {
          this.items = response.data.data;
        });
    },
    },
    computed: {
    rows() {
      return this.items.length;
    }
  }

}
</script>

<style>

</style>