<template>
  <div id="rootter" v-if="auther">
      <router-view></router-view>
  </div>
</template>

<script>
export default {
    name:'rooter',
    mounted(){
        this.auther = this.$session.get("allows")
        
        if(!this.auther){
            window.location='../';
        }
       
    },
    data() {
        return {
            auther:''
        }
    },
    
}
</script>

<style>

</style>