<template>
  <div id="editmem">
    <br />
    <br />
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h4>
            แก้ไขข้อมูลธนาคาร
            <hr />
          </h4>

          <div>
            <label for>กรอกชื่อบัญชี</label>
            <b-form-input v-model="data.bankaccount"></b-form-input>
          </div>

          <div role="group">
            <br />
            <label for="input-live">เลือกธนาคารรับเงิน :</label>
            <b-form-select v-model="data.bank" :options="bank"></b-form-select>
          </div>

          <div>
            <br />
            <label for>เลขที่บัญชี</label>
            <b-form-input v-model="data.banknumber"></b-form-input>
          </div>

          <div>
            <br />
            <label for>เบอร์โทร</label>
            <b-form-input v-model="data.phone"></b-form-input>
          </div>

          <div>
            <br />
            <label for>Password</label>
            <b-form-input v-model="data.pwd"></b-form-input>
          </div>

          <div class="text-center" v-if="css">
            <br />
            <b-badge pill :variant="css">{{msg}}</b-badge>
          </div>
          <br />
          <button class="btn btn-primary btn-block" @click="updadateAdmin">แก้ไข</button>

          <br />
          <br />
        </div>
        <div class="col-md-8">
          ยอด Wallet {{wallet}} <br>ชื่อ {{profile_name}} <br>Email : {{email}}
          
          <div v-if="upline"><hr>อัพไลน์ : {{upline.fullname}} <br> Email : {{upline.email}} , Password : {{upline.pwd}} <br> ยอด Wallet {{upline.wallet}}</div>

          <hr />
          <h4>ประวัติรายการ รวม Transection {{cudat}}</h4>

          <b-table
            responsive
            id="my-table"
            :items="items"
            :per-page="perPage"
            :current-page="currentPage"
            :fields="fields"
            :sort-by.sync="sortBy"
            :sort-desc.sync="sortDesc"
          >
            <template v-slot:cell(date)="data">
              <i class="fas fa-calendar-week"></i>
              {{ data.value | moment("YYYY/MM/DD HH:mm:ss") }}
            </template>
          </b-table>

          <b-pagination
            v-model="currentPage"
            :total-rows="rows"
            :per-page="perPage"
            aria-controls="my-table"
          ></b-pagination>

          <br />
          <br />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "editmem",
  mounted() {
    this.token = this.$session.get("allows");
    this.memID = this.$route.params.id;
    this.loadDatamembers();
    this.loadupline();
  },
  data() {
    return {
      memID: "",
      msg: "",
      css: "",
      bank: [
        { value: null, text: "เลือกธนาคาร" },
        { value: "ธนาคารกรุงเทพ", text: "ธนาคารกรุงเทพ" },
        { value: "ธนาคารกสิกรไทย", text: "ธนาคารกสิกรไทย" },
        { value: "ธนาคารกรุงไทย", text: "ธนาคารกรุงไทย" },
        { value: "ธนาคารทหารไทย", text: "ธนาคารทหารไทย" },
        { value: "ธนาคารไทยพาณิชย์", text: "ธนาคารไทยพาณิชย์" },
        { value: "ธนาคารกรุงศรีอยุธยา", text: "ธนาคารกรุงศรีอยุธยา" },
        { value: "ธนาคารเกียรตินาคิน", text: "ธนาคารเกียรตินาคิน" },
        { value: "ธนาคารธนชาต", text: "ธนาคารธนชาต" },
        { value: "ธนาคารออมสิน", text: "ธนาคารออมสิน" },
        { value: "ธกส", text: "ธกส" },
        { value: "UOB", text: "UOB" }
      ],
      data: {
        bankaccount: "",
        bank: "",
        banknumber: "",
        phone: "",
        pwd: ""
      },
      sortBy: "date",
      sortDesc: true,
      perPage: 10,
      currentPage: 1,
      items: [],
      fields: [
        { key: "date", label: "วันที่" },
        { key: "amount", label: "จำนวนเงิน" },
        { key: "detail", label: "รายละเอียด" }
      ],
      profile_name: "",
      wallet: 0,
      email: "",
      upline: {
        fullname: "",
        email: "",
        pwd: "",
        wallet: ""
      },
      cudat:''
    };
  },
  methods: {
    loadupline() {
      this.axios
        .get(
          "https://cardrunner.co/api/admin/" +
            this.token +
            "/loadUpline/" +
            this.memID
        )
        .then(doc => {
          this.upline = doc.data.data;
        });
    },
    loadDatamembers() {
      this.axios
        .get(
          "https://cardrunner.co/api/admin/" +
            this.token +
            "/edit/" +
            this.memID
        )
        .then(doc => {
          this.data.pwd = doc.data.data.pwd;
          this.profile_name = doc.data.data.fullname;
          this.email = doc.data.data.email;
          if (doc.data.data.bank[0]) {
            this.data.bankaccount = doc.data.data.bank[0].bankaccount;
            this.data.bank = doc.data.data.bank[0].bank;
            this.data.banknumber = doc.data.data.bank[0].banknumber;
            this.data.phone = doc.data.data.bank[0].phone;
          }

          this.wallet = doc.data.data.wallet;
          if (doc.data.data.transection[0]) {
            this.items = doc.data.data.transection;
            this.cudat  = this.items.reduce((acc,item)=> acc + item.amount,0)
          }
        });
    },
    updadateAdmin() {
      this.css = "success";
      this.msg = "รอ";
      this.axios
        .post(
          "https://cardrunner.co/api/admin/" +
            this.token +
            "/edit/" +
            this.memID +
            "/update",
          {
            ...this.data
          }
        )
        .then(doc => {
          if (doc.data.status === 200) {
            this.loadDatamembers();
            this.css = "success";
            this.msg = "สำเร็จ";
          }
        });
    }
  },
  computed: {
    rows() {
      return this.items.length;
    }
  }
};
</script>

<style scoped>
#editmem {
  min-height: 80vh;
}
</style>