<template>
  <div id="ip">
    <br />
    <br />
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h4>
            IP Securyty Servers <router-link to="/zibra/ipemail">Details</router-link>
            <hr />
          </h4>

          <b-input-group size="lg">
            <b-form-input v-model="filter" type="search" id="filterInput"></b-form-input>
          </b-input-group>

          <b-table
            responsive
            id="my-table"
            :items="items"
            :per-page="perPage"
            :current-page="currentPage"
            :fields="fields"
            :sort-by.sync="sortBy"
            :sort-desc.sync="sortDesc"
            :filter="filter"
            :filterIncludedFields="filterOn"
          >
            <template v-slot:cell(details)="data">
              <router-link :to="'ip/'+data.item._id">DETAILS {{ data.item._id }}</router-link>
            </template>
          </b-table>

          <b-pagination
            v-model="currentPage"
            :total-rows="rows"
            :per-page="perPage"
            aria-controls="my-table"
          ></b-pagination>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "ip",
   mounted() {
    this.token = this.$session.get("allows");
    this.loadIPAddress();
  },
  data() {
    return {
      sortBy: "ip",
      sortDesc: true,
      perPage: 30,
      currentPage: 1,
      fields: [
        { key: "_id", label: "IP", sortable: true },
        { key: "ip", label: "จำนวน", sortable: true },
        { key: "details", label:"" }
      ],
      items: [],
      filter: null,
      filterOn: []
    };
  },
  methods:{
      loadIPAddress(){
          this.axios.get("https://cardrunner.co/api/admin/"+this.token+"/ipflipers").then((doc)=>{
              if(doc.data.status===200){
              this.items = doc.data.data
              }
          })
      }
  },
   computed: {
    rows() {
      return this.items.length;
    }
  }
};
</script>

<style scoped>
#ip {
  min-height: 80vh;
}
</style>