<template>
  <div id="ipdetails">
    <br />
    <br />

    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <router-link to="/zibra/ip">BACK</router-link>
          <br />
          <h4>
            Serchin IP {{ipShows}}
            <button class="btn btn-danger" @click="cancleBokk">Cancel Block</button>
            <hr />
          </h4>

          <b-table responsive id="my-table" :items="items" :fields="fields">
            <template v-slot:cell(details)="data">{{data.item.id}}</template>
          </b-table>
          <br />
          <br />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "ipdetails",
  mounted() {
    this.token = this.$session.get("allows");
    this.ipShows = this.$route.params.id;
    this.loadIP();
  },
  data() {
    return {
      sortBy: "_id",
      sortDesc: true,
      fields: [
        { key: "ip", label: "IP", sortable: true },
        { key: "email", label: "อีเมลใข้งาน", sortable: true },
        
      ],
      items: [],
      ipShows: ""
    };
  },
  methods: {
    loadIP() {
      this.axios
        .get(
          "https://cardrunner.co/api/admin/" +
            this.token +
            "/ip/" +
            this.ipShows
        )
        .then(doc => {
          if (doc.data.status === 200) {
            this.items = doc.data.data;
          }
        });
    },
    cancleBokk() {
      this.axios
        .post("https://cardrunner.co/api/admin/" + this.token + "/ip/cancle", {
          ip: this.$route.params.id
        })
        .then(doc => {
          if (doc.data.status === 200) {
            this.loadIP();
          }
        });
    }
  }
};
</script>

<style scoped>
#ipdetails {
  min-height: 80vh;
}
</style>