<template>
  <div id="ipemail">
    <br />
    <br />
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h4>
            IP Securyty Email Servers
            <router-link to="/zibra/ip">Back</router-link>
            <hr />
          </h4>
 <b-form-select v-model="data.selected" :options="options"></b-form-select><br><br>
          <b-input-group size="lg">
            <b-form-input v-model="data.search" type="search" id="filterInput"></b-form-input>
            <b-button class="btn btn-primary" @click="findIP">ค้นหา</b-button>
          </b-input-group>
<br><br> <b-spinner label="Spinning" v-if="loadis==='1'"></b-spinner>
          <b-table
            responsive
            id="my-table"
            :items="items"
            :per-page="perPage"
            :current-page="currentPage"
            :fields="fields"
            :sort-by.sync="sortBy"
            :sort-desc.sync="sortDesc"
       
          >
            <template v-slot:cell(details)="data">
              <router-link :to="'ip/'+data.item.ip">DETAILS </router-link>
            </template>
          </b-table>

          <b-pagination
            v-model="currentPage"
            :total-rows="rows"
            :per-page="perPage"
            aria-controls="my-table"
          ></b-pagination>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "ipemail",
   mounted() {
    this.token = this.$session.get("allows");
   
  },
  data() {
    return {
      sortBy: "ip",
      sortDesc: true,
     
       data:{
        selected:null,
        search:""
      },
      
        options: [
          { value: null, text: 'เลือกการค้นหา' },
          { value: 'email', text: 'อีเมล' },
          { value: 'ip', text: 'Ip adress' }
        ],
      fields: [
        { key: "ip", label: "IP", sortable: true },
        { key: "email", label: "Email", sortable: true },
        { key: "details", label: "" }
      ],
      items: [],
      loadis:0
    };
  },
  methods:{
    findIP(){
      this.loadis = '1'
        this.axios.post("https://cardrunner.co/api/admin/"+this.token+"/findIP",{
          type:this.data.selected,
          search:this.data.search
        }).then(doc=>{
          this.items = doc.data.data
          this.loadis = 0
        })
    },
    loaddress(){
       this.axios.get("https://cardrunner.co/api/admin/"+this.token+"/emailIP").then((doc)=>{
              if(doc.data.status===200){
              this.items = doc.data.data
              }
          })
    }
  },
  computed: {
    rows() {
      return this.items.length;
    }
  }
};
</script>

<style scoped>
#ipemail {
  min-height: 80vh;
}
</style>