<template>
  <div id="withdarw">
    <br />
    <div class="container-fuild">
      <div class="row">
        <div class="col-md-12">
          <h4>รายการถอนเงิน ต้องจ่าย {{payment}}</h4>
          <router-link to="/zibra/withdraw_perdays">ตรวจสอบรายวัน</router-link>
          <br />
          <br />
          <b-table
            responsive
            id="my-table"
            :items="items"
            :per-page="perPage"
            :current-page="currentPage"
            :fields="fields"
            :sort-by.sync="sortBy"
            :sort-desc.sync="sortDesc"
            :filter="filter"
            :filterIncludedFields="filterOn"
          >
            <template v-slot:cell(star)="data">
              <!-- <promptpay-qr :id="data.item.phone" :amount="data.item.amount"></promptpay-qr> -->

              
              <button class="btn btn-primary" v-b-modal.modal-1 @click="bookmark(data.item._id,data.item.bankaccount)"><i class="fas fa-exclamation-triangle"></i></button>

           
            </template>

            <template v-slot:cell(date)="data">
            {{data.value | moment("YY/MM/DD HH:mm:ss")}}
            </template>

            <template v-slot:cell(cancle)="data">
              <button class="btn btn-danger" @click="can(data.item._id)">ยกเลิก</button>
            </template>

            <template v-slot:cell(accpet)="data">
              <button
                class="btn btn-success"
                @click="acc(data.item._id,data.item.memID,data.item.amount)"
              >ยินยัน</button>
            </template>
          </b-table>

          <b-pagination
            v-model="currentPage"
            :total-rows="rows"
            :per-page="perPage"
            aria-controls="my-table"
          ></b-pagination>
          <blockAlert :id="pop.id" :detail="pop.detail" :update="motivate"/>
        </div>
      </div> 
    </div>
   
  </div>
</template>

<script>
import blockAlert from "@/components/blockAlert"
export default {
  name: "withdraw",
  components:{
    blockAlert
  },
  mounted() {
    this.token = this.$session.get("allows");
    this.loadwithdraw();
  },
  data() {
    return {
      pop:{
        id:"",
        detail:''
      },
      sortBy: "date",
      sortDesc: false,
      perPage: 30,
      currentPage: 1,
      fields: [
        { key: "cancle", label: "" },
         { key: "date", label: "วันที่ทำรายการ" },
        { key: "profile.fullname", label: "ชื่อ", sortable: true },
        { key: "profile.email", label: "Email", sortable: true },
        { key: "star", label: "BookMark" },
        { key: "amount", label: "จำนวนเงินถอน", sortable: true },
        { key: "bank", label: "ธนาคาร", sortable: true },
        { key: "banknumber", label: "เลขที่บัญชี" },
        { key: "bankaccount", label: "ชื่อบัญชี" },
        { key: "accpet", label: "" }
      ],
      items: [],
      filter: null,
      filterOn: [],
      allwallet: 0,
      payment: 0
    };
  },
  methods: {
    motivate(){
      this.loadwithdraw()
    },

    bookmark(id,detail){
      this.pop.id = id
      this.pop.detail = detail
    },
    loadwithdraw() {
      this.axios
        .get("https://cardrunner.co/api/admin/" + this.token + "/withdarw")
        .then(response => {
          this.items = response.data.data;

          this.payment = this.items.reduce((acc, item) => acc + item.amount, 0);
        });
    },
    can(a) {
      this.axios
        .get(
          "https://cardrunner.co/api/admin/" +
            this.token +
            "/withdarw/" +
            a +
            "/error"
        )
        .then(response => {
          if (response.data.status === 200) {
            this.loadwithdraw();
          }
        });
    },
    acc(a, b, c) {
      this.axios
        .post(
          "https://cardrunner.co/api/admin/" + this.token + "/withdarw/accept",
          {
            id: a,
            memID: b,
            amount: c
          }
        )
        .then(response => {
          if (response.data.status === 200) {
            this.loadwithdraw();
          }
        });
    }
  },
  computed: {
    rows() {
      return this.items.length;
    }
  }
};
</script>

<style scoped>
#withdarw {
  min-height: 80vh;
}
</style>