<template>
  <div id="withdrawDanger">


      <br />
    <div class="container-fuild">
      <div class="row">
        <div class="col-md-12">
          <h4>รายการถอนเงิน อันตราย {{payment}}</h4>
          <router-link to="/zibra/withdraw_perdays">ตรวจสอบรายวัน</router-link>
          <br />
          <br />
          <b-table
            responsive
            id="my-table"
            :items="items"
            :per-page="perPage"
            :current-page="currentPage"
            :fields="fields"
            :sort-by.sync="sortBy"
            :sort-desc.sync="sortDesc"
            :filter="filter"
            :filterIncludedFields="filterOn"
          >
            

            <template v-slot:cell(cancle)="data">
              <button class="btn btn-danger" @click="can(data.item._id)">ยกเลิก</button>
            </template>

            
            <template v-slot:cell(commnet)="data">
              <p class="text-danger"><b>{{data.value}}</b></p>
            </template>

            <template v-slot:cell(accpet)="data">
              <button
                class="btn btn-success"
                @click="acc(data.item._id,data.item.memID,data.item.amount)"
              >ยินยัน</button>
            </template>
          </b-table>

          <b-pagination
            v-model="currentPage"
            :total-rows="rows"
            :per-page="perPage"
            aria-controls="my-table"
          ></b-pagination>
         
        </div>
      </div> 
    </div>
  </div>
</template>

<script>

export default {
  name: "withdrawDanger",
  mounted() {
    this.token = this.$session.get("allows");
    this.loadwithdraw();
  },
  data() {
    return {
      pop:{
        id:"",
        detail:''
      },
      sortBy: "date",
      sortDesc: false,
      perPage: 30,
      currentPage: 1,
      fields: [
        { key: "cancle", label: "" },
        
        { key: "profile.fullname", label: "ชื่อ", sortable: true },
        { key: "profile.email", label: "Email", sortable: true },
        { key: "amount", label: "จำนวนเงินถอน", sortable: true },
        { key: "bank", label: "ธนาคาร", sortable: true },
        { key: "banknumber", label: "เลขที่บัญชี" },
        { key: "bankaccount", label: "ชื่อบัญชี" },
         { key: "commnet", label: "comment" },
        { key: "accpet", label: "" }
      ],
      items: [],
      filter: null,
      filterOn: [],
      allwallet: 0,
      payment: 0
    };
  },
  methods: {
  
    loadwithdraw() {
      this.axios
        .get("https://cardrunner.co/api/admin/" + this.token + "/withdarwDangerlas")
        .then(response => {
          this.items = response.data.data;

          this.payment = this.items.reduce((acc, item) => acc + item.amount, 0);
        });
    },
    can(a) {
      this.axios
        .get(
          "https://cardrunner.co/api/admin/" +
            this.token +
            "/withdarw/" +
            a +
            "/error"
        )
        .then(response => {
          if (response.data.status === 200) {
            this.loadwithdraw();
          }
        });
    },
    acc(a, b, c) {
      this.axios
        .post(
          "https://cardrunner.co/api/admin/" + this.token + "/withdarw/accept",
          {
            id: a,
            memID: b,
            amount: c
          }
        )
        .then(response => {
          if (response.data.status === 200) {
            this.loadwithdraw();
          }
        });
    }
  },
  computed: {
    rows() {
      return this.items.length;
    }
  }
};
</script>

<style scoped>
#withdarw {
  min-height: 80vh;
}
</style>


<style scoped>
#withdarw {
  min-height: 80vh;
}
</style>