<template>
  <div id="app">
    <offline @detected-condition="handleConnectivityChange">
      <!-- Only renders when the device is online -->
      <div slot="online">
        <div v-if="auther">
          <addrro />
        </div>
        <div v-else>
          <div v-if="!auth">
            <NonHeaderActive />
          </div>
          <div v-else>
            <HeaderActive />
          </div>
        </div>

        <router-view />
        <footesr />
      </div>
      <!-- Only renders when the device is offline -->
      <div slot="offline">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <br />
              <br />
              <h1>
                <i class="fas fa-exclamation-triangle"></i>
              </h1>
              <h4>คุณไม่ได้เชื่อมต่ออินเตอร์เน็ต</h4>
              <p>คุณไม่ได้เชื่อมต่ออินเตอร์เน็ต ตรวจสอบการเชื่อมต่ออินเตอร์เน็ต</p>
            </div>
          </div>
        </div>
      </div>
    </offline>
    <notifications position="bottom right" group="foo"  />
  </div>
</template>
<script>
import offline from "v-offline";
import NonHeaderActive from "@/components/NonActiveHead";
import HeaderActive from "@/components/ActiveHead";
import addrro from "@/components/adderroot";
import footesr from "@/components/footer";

export default {
  name: "app",

  mounted() {
    this.auth = this.$session.get("token");
    this.auther = this.$session.get("allows");

      
    this.sockets.subscribe("promotions", function(data) {
      this.$notify({
        group: "foo",
        title: data.fullname+ " ("+data.buy+")",
        text: "ทำการซื้อ Card สำเร็จ",
       
      });
    });
  },
  components: {
    offline,
    NonHeaderActive,
    footesr,
    HeaderActive,
    addrro
  }
};
</script>

<style>
body,
html {
  font-size: 22px !important;
}
notifications {
  font-size: 22px;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  color: #2c3e50;
}

#nav {
  padding: 30px;
}
.vue-notification-group {
  width: 350px !important;
  z-index: 999999;
  
}

.vue-notification {
  font-size: 22px !important;
}
</style>
