<template>
  <div id="affee">
    <expire/>
    <br />
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h4>
            แบ่งปันแนะนำสมาชิกใหม่ เพิ่มโอกาสสร้างรายได้
            <hr />
          </h4>
          <p>แนะนำสมาชิกใหม่จะได้รับส่วนแบ่งทางการตลาดดังต่อไปนี้</p>
          <ul>
            <li>ค่าแนะนำ 5% จากยอดสมาชิกที่สั่งซื้อเข้ามา</li>
            <li>ยอด Claim 10% ทุกๆครั้งที่มีการ Claim ของสมาชิกแนะนำ จะได้รับ เป็นค่า Commission</li>
          </ul>

          <br />
          <b-input-group size="lg" prepend="URL">
            <b-form-input v-model="url"></b-form-input>

            <b-input-group-append>
              <b-button variant="primary" v-clipboard="url">คัดลอก</b-button>
            </b-input-group-append>
          </b-input-group>
        </div>
      </div>
      <br />

      <div class="row">
        <div class="col-md-12">
          <h4>
            รายการแนะนำ
           
          </h4>

          <b-table
            responsive
            id="my-table"
            :items="reffers"
            :per-page="perPage"
            :current-page="currentPage"
            :fields="fields"
            :sort-by.sync="sortBy"
            :sort-desc.sync="sortDesc"
          >
            <template v-slot:cell(Createis)="data">
              <i class="fas fa-calendar-week"></i>
              {{ data.value | moment("YYYY/MM/DD HH:mm:ss") }}
            </template>
          </b-table>

          <b-pagination
            v-model="currentPage"
            :total-rows="rows"
            :per-page="perPage"
            aria-controls="my-table"
          ></b-pagination>
        </div>
      </div>
    </div>
    <br />
    <br />
  </div>
</template>

<script>
import expire from "@/components/checExpire"
export default {
  name: "affee",
  components:{
    expire
  },
  mounted() {
    this.token = this.$session.get("token");
    this.loadAffaliateion();
  },
  data() {
    return {
      token: "",
      url:
        "https://cardrunner.co/register?affaliate=" +
        this.$session.get("token"),
     
      sortBy: "Createis",
      sortDesc: true,
      perPage: 10,
      currentPage: 1,
      fields: [
        { key: "fullname", label: "ชื่อ", sortable: true },
        { key: "email", label: "อีเมล์", sortable: true },
        { key: "Createis", label: "ลงทะเบียนวันที่", sortable: true }
      ],
       reffers: [],
    };
  },
  methods: {
    loadAffaliateion() {
      this.axios
        .get("https://cardrunner.co/api/members/" + this.token + "/affaliat")
        .then(response => {
          if (response.data.status === 200) {
            this.reffers = response.data.data;
          }
        });
    }
  },
  computed: {
    rows() {
      return this.reffers.length;
    }
  }
};
</script>

<style scoped>
#affee {
  min-height: 80vh;
}
</style>