<template>
  <div id="auth" v-if='auth'>
      <router-view></router-view>
  </div>
</template>

<script>
export default {
    name:'auth',
    mounted(){
        this.auth= this.$session.get('token')
        if(!this.auth){
            window.location='../';
          
        }
    },data() {
        return {
            auth:''
        }
    },
}
</script>

<style>

</style>