<template>
  <div id="challenge">
    <expire/>
    <div class="tabs" :style="'background:url('+image.bgs+');background-size:cover;background-position-y:50%'">
      <div class="container">
        <div class="row" >
        
          <div class="col-md-12">
            <h2>
              <b>เราได้ผู้ชนะแล้ว</b>
            </h2>ยินดีกับผู้ชนะด้วย 
            <br />
            <br />
            <a href="https://cardrunner.co/challenge" target="_bank" class="btn btn-primary">กติกาเข้าร่วมการแข่งขัน</a>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <br />
      <br />
      <div class="row">
        <div class="col-md-12">
          <h4>
            <b>คะแนนสูงสุด</b>
          </h4>

          <b-table
            responsive
            id="my-table"
            :items="items"
            :per-page="perPage"
            :current-page="currentPage"
            :fields="fields"
            :sort-by.sync="sortBy"
            :sort-desc.sync="sortDesc"
          >
            <template v-slot:cell(row)="data">อันดับ {{ data.index + 1 }}</template>
            <template v-slot:cell(point)="data">
              <i class="fas fa-file-powerpoint"></i>
              {{ data.value | currency('') }}
            </template>
          </b-table>

         <br><br>

          <br />
          <br />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import bgs from "@/assets/bgse.jpg";
import expire from "@/components/checExpire"
export default {
  name: "challenge",
  components:{
    expire
  },
  mounted() {
    this.token = this.$session.get("token");
    this.Chalenge();
  },
  data() {
    return {
      image: {
        bgs: bgs
      },
      sortBy: "point",
      sortDesc: true,
      perPage: 100,
      currentPage: 1,
      fields: [
        { key: "row", label: "ลำดับ" },
        { key: "point", label: "คะแนน" },
        { key: "fullname", label: "ชื่อสกุล" }
      ],
      items: []
    };
  },
  methods: {
    Chalenge() {
      this.axios
        .get(
          "https://cardrunner.co/api/members/" + this.token + "/loadChalenge"
        )
        .then(doc => {
          if (doc.data.status === 200) {
            this.items = doc.data.data;
          }
        });
    }
  },
  computed: {
    rows() {
      return this.items.length;
    }
  }
};
</script>

<style scoped>
#challenge {
  min-height: 80vh;
}

.tabs {


  height: auto;
  padding: 50px;
  color: #ffffff;
  font-weight: normal;
}
</style>