<template>
  <div id="community">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <br />
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <router-link
            to="/cp/community/feed"
            id="big"
            class="btn btn-outline-primary mt-1 btn-block text-left"
          >
            <i class="fas fa-comments"></i> ฟีดข่าวสาร
          </router-link>

<router-link
            to="/cp/community/fire"
            id="big"
            class="btn btn-outline-primary mt-1 btn-block text-left"
          >
            <i class="fas fa-fire"></i> มาแรง
          </router-link>
          <router-link
            to="/cp/community/yourpost"
            id="big"
            class="btn btn-outline-primary mt-1 btn-block text-left"
          >
            <i class="fas fa-mail-bulk"></i> โพสของคุณ
          </router-link>

          <router-link
            to="/cp/community/alert"
            id="big"
            class="btn btn-outline-primary mt-1 btn-block text-left"
          >
            <i class="far fa-bell"></i> การแจ้งเตือน
            <b-badge variant="primary" pill>{{noti}}</b-badge>
          </router-link>
        </div>

        <div class="col-md-8 left_border mt-2">
          <router-view />
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <br />
          <br />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "community",
  mounted() {
    this.token = this.$session.get("token");
    this.profile = this.$session.get("profile");
    this.loadNotofications()
    
    this.sockets.subscribe("noti_"+this.token, function(data) {
      if(data.update==='up'){
       this.noti++
      }
      if(data.update==='down'){
        this.noti = 0 
      }
   });
  },
  data() {
    return {
      profile: "",
      noti:0
    };
  },
  methods: {
    loadNotofications() {
     
      this.axios
        .get(
          "https://cardrunner.co/api/community/event/" +
            this.token +
            "/loadNoti"
        )
        .then(doc => {
          if(doc.data.data.noti===undefined){
          this.noti = 0
          }else{
          this.noti = doc.data.data.noti
          }
        });
    }
  }
};
</script>
<style scoped>
#community {
  min-height: 80vh;
}
.btn-outline-primary {
  color: #1da1f2 !important;
  border: #1da1f2 !important;
}
.btn-outline-primary:hover {
  color: #ffffff !important;
  background: #1da1f2 !important ;
}

.router-link-active {
  color: #ffffff !important;
  background: #1da1f2 !important ;
}
#trex {
  border: none;
}
.left_border {
  min-height: 80vh;
  border-left-style: solid;
  border-left-color: rgb(225, 225, 225);
}
</style>