<template>
  <div id="member">
    <expire />
    <div class="carded">
      <div class="container">
        <br />
        <h1>{{profile.fullname}}</h1>
        <p>
          ตอนนี้คุณสามารถซื้อ
          <u>Card</u>
 เพื่อสร้างรายได้ กดปุ่ม BUY CARD เพื่อซื้อ 
        </p>
        <router-link class="btn btn-warning mr-2  mt-2" to="ticket">BUY CARD</router-link>
         <router-link class="btn btn-primary  mr-2 mt-2" to="/cp/community/feed">COMMUNITY</router-link>
        <br />

        <br />
      </div>
    </div>
    <br />
    <div class="container" id="h">
      <div class="row">
        <div class="col-md-12">
          <a href="https://click.accesstrade.in.th/adv.php?rk=0006eh000gie" target="_blank">
            <img
              src="https://imp.accesstrade.in.th/img.php?rk=0006eh000gie"
              width="100%"
              border="0"
            />
          </a>
          <br />
          <br />
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <h4>
            Card Status :
            <u class="text-success">Running</u>
            <hr />
          </h4>
        </div>

        <div v-if="imgLoad>0" class="col-md-12 row">
          <div class="col-md-4 mt-3" v-for="t in ticket" :key="t">
            <cardrunner :pid="t._id" :dialog="rebout" />
          </div>
        </div>
        <div v-else>
          <center>
            <img
              width="50%"
              src="https://images.squarespace-cdn.com/content/v1/57d058ce8419c26cb926001a/1550676940710-W1DGC6V6IBCVC2LATMGW/ke17ZwdGBToddI8pDm48kCV3e1g4vMIgKP-lWi7YPN57gQa3H78H3Y0txjaiv_0fDoOvxcdMmMKkDsyUqMSsMWxHk725yiiHCCLfrh8O1z5QPOohDIaIeljMHgDF5CVlOqpeNLcJ80NK65_fV7S1UZJecfL1GfZKxvmwmM6RDZ23BHywXn1D-PeIaTbQLNQ0JvwGh1qtNWvMhYKnvaKhbA/ResearchProcess.png"
            />
            <br />ไม่มี Card ทำงาน สามารถเปิดคำสั่งซื้อ Card เพื่อสร้างรายได้ได้แล้ว
          </center>
        </div>
      </div>

      <br />
      <br />
    </div>

    <b-modal  id="my-modal" ref="my-modal" size="lg" button-size="sm" hide-header hide-footer>
 
 <h4>ข้อมูลการเคลม 5 รายการล่าสุด</h4>
      <div class="row" style="background:url('https://img.freepik.com/free-vector/white-background-with-blue-tech-hexagon_1017-19366.jpg?size=626&ext=jpg')">
      
         <div class="col-md-3">
         </div>
        <div class="col-md-6">  <br>
      <statusCard :pid="fastShow" dialog=""  />
      <br><br>
        </div>
      </div>

      <b-table
        striped
        hover
        :items="items"
        :per-page="perPage"
        :current-page="currentPage"
        :fields="fields"
        :sort-by.sync="sortBy"
        :sort-desc.sync="sortDesc"
        
      >
       <template v-slot:cell(date)="data">
       <i class="fas fa-calendar-week"></i>  {{ data.value | moment("YYYY/MM/DD HH:mm:ss") }}
      </template>
      </b-table>
      <b-button class="mt-3" variant="outline-danger" block @click="hideModal">ปิด</b-button>
    </b-modal>
  </div>
</template>

<script>
import star from "@/assets/1.png";
import cardrunner from "@/components/runCard";
import expire from "@/components/checExpire";
import statusCard from "@/components/StatusCard";
export default {
  name: "member",
  mounted() {
    this.token = this.$session.get("token");
    this.profile = this.$session.get("profile");
    this.loadEvent();
  },
  components: {
    cardrunner,
    expire,
    statusCard
  },
  data() {
    return {
      star: star,
      profile: "",
      ticket: "",
      imgLoad: "",
      fields: [
        {key:"date",label:"วันที่"},
         {key:"status",label:"การกระทำ"}
        ],
      items: [],
      sortBy: "date",
      sortDesc: true,
      perPage: 5,
      currentPage: 1,
      fastShow:""
    };
  },
  methods: {
    hideModal() {
      this.$refs["my-modal"].hide();
    },
    rebout(a) {
      this.axios
        .post("https://cardrunner.co/api/members/" + this.token + "/evenLog", {
          card: a
        })
        .then(doc => {
          if (doc.data.status === 200) {
            this.$bvModal.show("my-modal");
            this.items = doc.data.data;
            this.fastShow = a
          }
        });
    },
    loadEvent() {
      this.axios
        .get(
          "https://cardrunner.co/api/members/" +
            this.token +
            "/tikedOnlineStreaming"
        )
        .then(response => {
          this.imgLoad = response.data.data.length;
          if (response.data.status === 200) {
            this.ticket = response.data.data;
          }
        });
    }
  }
};
</script>

<style scoped>
#h {
  min-height: 80vh;
}
.carded {
  padding: 50px;

  background: #144699 url("https://fg-a.com/christmas-bg/snowflakes-1280.jpg");
  background-size: cover;
  color: #ffffff;
}
</style>