<template>
  <div id="deposit">

<expire/>
    <div class="cap" >
<i class="fas fa-bell"></i> การฝากเงิน เงินจะเข้าสู่กระเป๋า Cash ใช้สำหรับซื้อ Card เท่านั้น ไม่สามารถถอนออกได้
</div>


    <br />
    <br />
    <div class="container">
      <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
          <h4>
            ฝากเงิน เข้ากระเป๋า CASH 
            <hr />
          </h4>
          <center>
            <small>โอนไปยังบัญชี ธนาคารไทยพาณิชย์ <br> นายวุฒิชัย แก้วแพง เลขที่บัญชี 811-271902-2
</small>
          </center>

          <div>
            <br />
            <label for>จำนวนเงินฝาก</label>
            <b-form-input v-model="data.amount" type="number"></b-form-input>
          </div>

          <div>
            <br />
            <label for>เวลาฝาก</label>
            <b-form-input v-model="data.time" type="time"></b-form-input>
          </div>

          <div>
            <br />
            <label for>แจ้งเวลาฝาก</label>
            <b-form-datepicker
              id="example-datepicker"
              v-model="data.date"
              class="mb-2"
              placeholder="เลือกวันที่"
            ></b-form-datepicker>
          </div>

          <div>
            <br />
            <label for>หลักฐานการแจ้งชำระ {{uploadValue.toFixed()+"%"}}</label>
            <b-form-file
              :state="Boolean(file)"
              placeholder="เลือกรูปภาพ Slip"
              drop-placeholder="วางไว้ตรงนี้"
              type="file"
              @change="previewImage"
              accept="image/*"
            ></b-form-file>
          </div>

          <br />

          <div class="text-center" v-if="css">
            <br />
            <b-badge pill :variant="css">{{msg}}</b-badge>
          </div>
          <br />
          <button
            class="btn btn-primary btn-block"
            @click="upload_check"
            :disabled="btn!==''"
          >UPLOAD รูปภาพ {{uploadValue.toFixed()+"%"}}</button>

          <br>
          <h4>รายการเติม 5 รายการ</h4>
           <b-table
                  responsive 
      id="my-table"
      :items="items"
      :per-page="perPage"
      :current-page="currentPage"
      :fields="fields"
      :sort-by.sync="sortBy"
      :sort-desc.sync="sortDesc"
      small
    >
     <template v-slot:cell(CreatDate)="data">
       <i class="fas fa-calendar-week"></i>  {{ data.value | moment("YYYY/MM/DD HH:mm:ss") }}
      </template>

       <template v-slot:cell(status)="data">
       <small>{{ typeW[data.value] }}</small>
      </template>
    
    </b-table>
          <br />
          <br />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import firebases from "@/checAuth.js";
import expire from "@/components/checExpire"
export default {
  name: "deposit",
  components:{
    expire
  },
  mounted() {
    this.token = this.$session.get("token");
    this.profile = this.$session.get("profile");
    this.loadStory();
  },
  data() {
    return {
      imageData: null,
      picture: null,
      uploadValue: 0,
      msg: "",
      css: "",
      btn: "",
      data: {
        amount: "",
        date: "",
        time: ""
      },
      file: "",
      sortBy: "date",
      sortDesc: true,
      perPage: 10,
      currentPage: 1,
      fields: [
        { key: "CreatDate", label: "วันที่", sortable: true },
        { key: "amount", label: "จำนวนเงิน", sortable: true },
        { key: "status", label: "รายละเอียด",  }
      ],
      items: [],
      typeW:["รอกการดำเนินการ","ฝากสำเร็จ","ยกเลิก"]
    };
  },
  methods: {
    previewImage(event) {
      this.uploadValue = 0;
      this.picture = null;
      this.imageData = event.target.files[0];
    },
    getRandom(max) {
      return Math.floor(Math.random() * Math.floor(max));
    },
    upload() {
      this.date = new Date();
      this.picture = null;
      const storageRef = firebases.fre
        .storage()
        .ref(`${this.getRandom(99999999999999999999)}`)
        .put(this.imageData);
      storageRef.on(
        `state_changed`,
        snapshot => {
          this.uploadValue =
            (snapshot.bytesTransferred / snapshot.totalBytes) * 100;
        },
        error => {
          error.message;
        },
        () => {
          this.uploadValue = 100;
          storageRef.snapshot.ref.getDownloadURL().then(url => {
            this.picture = url;
            this.sentinDB();
          });
        }
      );
    },
    upload_check() {
      if (this.data.amount === "" || this.data.date === "") {
        this.css = "danger";
        this.msg = "กรอกให้ครบทุกๆช่อง";
      } else if (!Number(this.data.amount)) {
        this.css = "danger";
        this.msg = "กรอกเป็นตัวเลข";
      } else if (this.data.amount < 50) {
        this.css = "danger";
        this.msg = "จำนวนเงินต้องมากกว่า 50";
      } else {
        this.btn = "ok";
        this.upload();
      }
    },
    sentinDB() {
      this.axios
        .post("https://cardrunner.co/api/members/" + this.token + "/onupload", {
          amount: this.data.amount,
          dateTransfer: this.data.date,
          time: this.data.time,
          picture: this.picture,
          profile:this.profile
        })
        .then(response => {
          if (response.data.status === 200) {
            this.btn = "";
            this.data.amount = "";
            this.date.date = "";
            this.data.time = "";
            this.css = "success";
            this.msg = "อัพโหลดสำเร็จ";
             this.loadStory();
          }
        });
    },
    loadStory(){
        this.axios.get("https://cardrunner.co/api/members/"+this.token+"/loaddeposit").then(doc=>{
            if(doc.data.status===200){
              this.items = doc.data.data
             }
        })
    }
  }
};
</script>

<style scoped>
.cap{
padding: 15px 25px;
 background:#007BFF ;
 color: #ffff;
}
#deposit {
  min-height: 80vh;
}
</style>