<template>
  <div id="logout"></div>
</template>

<script>
export default {
  name: "logout",
  mounted() {
    this.$session.remove("profile");
    this.$session.remove("wallet");
    this.$session.remove("token");
    this.$session.remove("cash");
    this.$session.remove("point");
    if (!this.auth) {
      window.location = "../";
      return false;
    }
  }
};
</script>

<style>
</style>