<template>
  <div id="ticket">
    <expire/>
    <div class="cap" >
<i class="fas fa-bell"></i> ใช้ กระเป๋า CASH ในการซื้อการ์ด กระเป๋าเงินสดสำหรับรับการเคลมและค่าคอมมิชชั่น เท่านั้น
</div>

<br>


    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h4>
            ซื้อ Card ใช้ CASH
            <hr />
          </h4>

          <center>
            <h2>
              <sup>CASH </sup>
              <u>{{cash.toFixed(2) | currency('')}}</u>
              <sup>บาท</sup>
            </h2>
            <p>
              <br />* Card ทำงาน 8 ชั่วโมง เมื่อครบ 8 ชั่วโมงแล้วต้องกลับมา Run ให้ Card ทำงานใหม่
            </p>
            <div v-if="css" class="text-danger">
              <small :class="css">
                {{msg}}
                <br />
                <br />
              </small>
            </div>
          </center>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 mt-2" v-for="p in pkage" :key="p">
          <ticketed
            :pname="p.name"
            :pid="p.pid"
            :price="p.price"
            :percent="p.percent"
            :perday="p.perday"
            :Sender="Sender"
          />
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <br />
          <br />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import ticketed from "@/components/ticket";
import promos from "@/assets/pro.png";
import expire from "@/components/checExpire"
export default {
  name: "ticket",
  components: {
    ticketed,expire
  },
  mounted() {
    this.wallet = this.$session.get("wallet");
    this.cash = this.$session.get("cash");
    this.tokent = this.$session.get("token");
    this.sockets.subscribe("WALLET_" + this.tokent, function(data) {
      if (data.type === "dis") {
        this.wallet = this.wallet - data.amount;
        this.$session.set("wallet", this.wallet);
      } else {
        this.wallet = this.wallet + data.amount;
        this.$session.set("wallet", this.wallet);
      }
    });
     this.sockets.subscribe("CASH_" + this.tokent, function(data) {
      if (data.type === "dis") {
        this.cash = this.cash - data.amount;
        this.$session.set("cash", this.cash);
      } else {
        this.cash = this.cash + data.amount;
        this.$session.set("cash", this.cash);
      }
    });
  },
  data() {
    return {
      promos: promos,
      wallet: 0,
      subpend: "",
      data: {
        selected: null
      },
      cash:0,

      pkage: [
        { name: "Beginner", pid: 1, price: 300, percent: 2.8, perday: 8.4 },
        { name: "Member", pid: 2, price: 550, percent: 3, perday: 16.5 },
        { name: "Standard", pid: 3, price: 1250, percent: 3.2, perday: 40 },
        { name: "Silver", pid: 4, price: 3500, percent: 3.45, perday: 120.75 },
        { name: "Gold", pid: 5, price: 7000, percent: 3.6, perday: 252 },
        { name: "Platinum", pid: 6, price: 15000, percent: 3.8, perday: 570 },
        { name: "Exclusive", pid: 7, price: 30000, percent: 3.9, perday: 1170 },
        { name: "Premium", pid: 8, price: 50000, percent: 4.05, perday: 2025 }
      ],

      options: [
        { value: null, text: "เลือกประเภท package" },
        {
          value: 1,
          text:
            "Beginner 300 บาท 2.8% ต่อวัน 8.4 ต่อวัน หมดอายุ 8 ชม หมดถาวร 60 วัน"
        },
        {
          value: 2,
          text:
            "Member 550 บาท 3% ต่อวัน 16.5 ต่อวัน หมดอายุ 8 ชม  หมดถาวร 60 วัน"
        },
        {
          value: 3,
          text:
            "Standard 1250 บาท 3.2% ต่อวัน 40 ต่อวัน หมดอายุ 8 ชม หมดถาวร 60 วัน"
        },
        {
          value: 4,
          text:
            "Silver 3500 บาท 3.45% ต่อวัน 120.75 ต่อวัน หมดอายุ 8 ชม หมดถาวร 60 วัน"
        },
        {
          value: 5,
          text:
            "Gold 7000 บาท 3.6% ต่อวัน 252 ต่อวัน หมดอายุ 8 ชม หมดถาวร 60 วัน"
        },
        {
          value: 6,
          text:
            "Platinum 15000 บาท 3.8% ต่อวัน 570 ต่อวัน หมดอายุ 8 ชม หมดถาวร 60 วัน"
        },
        {
          value: 7,
          text:
            "Exclusive 30000 บาท 3.9% ต่อวัน 1170 ต่อวัน หมดอายุ 8 ชม หมดถาวร 60 วัน"
        },
        {
          value: 8,
          text:
            "Premium 50000 บาท 4.05% ต่อวัน 2025 ต่อวัน หมดอายุ 8 ชม หมดถาวร 60 วัน"
        }
      ],
      css: "",
      msg: "",
      amount: "",
      tokent: ""
    };
  },
  methods: {
    Sender(a) {
      this.buyticket(a);
    },
    statSate(a) {
      if (a === 1) {
        return (this.amount = 300);
      }
      if (a === 2) {
        return (this.amount = 550);
      }
      if (a === 3) {
        return (this.amount = 1250);
      }
      if (a === 4) {
        return (this.amount = 3500);
      }
      if (a === 5) {
        return (this.amount = 7000);
      }
      if (a === 6) {
        return (this.amount = 15000);
      }
      if (a === 7) {
        return (this.amount = 30000);
      }
      if (a === 8) {
        return (this.amount = 50000);
      }
    },
    buyticket(a) {
      if (a === null) {
        this.css = "text-danger";
        this.msg = "เลือก Package ให้ถูกต่อง";
      } else if (this.cash < this.statSate(a)) {
        this.css = "text-danger";
        this.msg = "ยอดเงินไม่เพียงพอยอดเงินในกระเป๋า CASH ไม่เพียงพอ";
      } else {
        this.axios
          .post(
            "https://cardrunner.co/api/members/" + this.tokent + "/buyTicket",
            {
              options: a
            }
          )
          .then(response => {
            if (response.data.status === 200) {
              this.css = "text-success";
              this.msg = "สั่งซื้อสำเร็จแล้ว";
            } else {
              this.css = "text-danger";
              this.msg = response.data.msg;
            }
          });
      }
    }
  }
};
</script>

<style scoped>
.bgtopping {
  color: #ffffff;
}
#ticket {
  min-height: 80vh;
}
.cap{
padding: 15px 25px;
 background:#007BFF ;
 color: #ffff;
}
</style>