<template>
  <div id="transfercas">
        <div class="cap" >
<i class="fas fa-bell"></i> <u>โปรโมชั่นการโอนตอนนี้ </u> รับเพิ่มอีก 15% ของยอดโอนเข้า Cash ทุกๆครั้ง
</div>
    <expire/>
    <br />
    <br />
    <div class="container">
      <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
          <h4>
            โอนเงินจากกระเป๋าเงินไปยัง CASH
            <hr />
          </h4>

          <center>
            <h2>
              <sup>WALLET&nbsp;</sup>
              <u>{{wallet.toFixed(2)}}</u>
              <sup>&nbsp;บาท</sup>
            </h2>
          </center>
          <hr />
          <center>
            <h2>
              <sup>CASH&nbsp;</sup>
              <u>{{cash.toFixed(2)}}</u>
              <sup>&nbsp;บาท</sup>
            </h2>
          </center>
            <p>(*โอนไปยังกระเป๋าเงินแล้วไม่สามารถ โอนกลับได้)</p>
          <div>
 
 <br />
 
 <div class="textCr">
     <center>
       <h1 class="fas fa-comments-dollar"></h1>
       <h4  style="font-weight:bold; " ><sup>โบนัส </sup>{{(data.amount*15/100).toFixed(2)}} <sup>CASH</sup> </h4>
       <p><small>จะได้รับเพิ่ม อัตโนมัติ เมื่อกดโอนสำเร็จ</small></p>

  
 </center></div>



           
            <br />
            <label for>จำนวนการโอนไปยัง CASH</label>
            <b-form-input v-model="data.amount" :max="wallet" type="number"></b-form-input>
          </div>
          <div v-if="css" class="text-danger">
            <small :class="css"><br />
              {{msg}}
              <br />
              
            </small>
          </div>
          <br />
          <b-button variant="outline-primary btn-block" @click="Transefer">โอนไปยังกระเป๋า CASH</b-button>

          <br>
          <h4>รายการโอน 5 รายการล่าสุด</h4>

         
            <b-table
                  responsive 
      id="my-table"
      :items="items"
      :per-page="perPage"
      :current-page="currentPage"
      :fields="fields"
      :sort-by.sync="sortBy"
      :sort-desc.sync="sortDesc"
      small
    >
     <template v-slot:cell(date)="data">
       <i class="fas fa-calendar-week"></i>  {{ data.value | moment("YYYY/MM/DD HH:mm:ss") }}
      </template>

    
    </b-table>
        </div>
      </div>
    </div>
    <br><br>
  </div>
</template>

<script>
import expire from "@/components/checExpire"
export default {
  name: "transfercas",
  components:{
    expire
  },
  mounted() {
    this.wallet = this.$session.get("wallet");
    this.cash = this.$session.get("cash");
    this.token = this.$session.get("token");
    
    this.sockets.subscribe("WALLET_" + this.token, function(data) {
      if (data.type === "dis") {
        this.wallet = this.wallet - data.amount;
        this.$session.set("wallet", this.wallet);
      } else {
        this.wallet = this.wallet + data.amount;
        this.$session.set("wallet", this.wallet);
      }
    });
    this.sockets.subscribe("CASH_" + this.token, function(data) {
      if (data.type === "dis") {
        this.cash = this.cash - data.amount;
        this.$session.set("cash", this.cash);
      } else {
        this.cash = this.cash + data.amount;
        this.$session.set("cash", this.cash);
      }
    });

    this.loadFuled()
  },
  data() {
    return {
      wallet: 0,
      cash: 0,
      fields:[
           {key:"date",label:"วันที่"},
           {key:"amount",label:"จำนวนเงิน"}
      ],
      sortBy: "date",
      sortDesc: true,
      perPage: 5,
      currentPage: 1,
      items:"",
      css: "",
      msg: "",
      data: {
        amount: 0
      }
    };
  },
  methods: {
    loadFuled(){
         this.axios.get("https://cardrunner.co/api/members/"+this.token+"/Loadtranstowallet").then(doc=>{
             if(doc.data.status===200){
                 this.items = doc.data.data[0].transfer
                  
             }
         })
    },
    Transefer() {
      if (this.wallet <= 0) {
        this.msg = "จำนวนเงินน้อยเกินไป";
        this.css = "text-danger";
      }
     else if (this.data.amount === "") {
        this.msg = "จำนวนเงินน้อยเกินไป";
        this.css = "text-danger";
      }
     else  if (this.data.amount  <= 0) {
        this.msg = "จำนวนเงินน้อยเกินไป";
        this.css = "text-danger";
      }
     else  if (this.data.amount >this.wallet) {
        this.msg = "จำนวนมากเกินกว่าจำนวน Wallet ";
        this.css = "text-danger";
      }else{
          this.axios.post("https://cardrunner.co/api/members/"+this.token+"/transtowallet",{
              amount : Number(this.data.amount)
          }).then(doc=>{
              if(doc.data.status===200){
                 this.msg = "โอนสำเร็จแล้ว ";
        this.css = "text-success";
              this.cash = this.$session.get("cash")
              this.wallet = this.$session.get("wallet")
              this.loadFuled()
              }
          })
      }


    }
  }
};
</script>

<style scoped>
#transfercas {
  min-height: 80vh;
}.cap{
padding: 15px 25px;
 background:#007BFF ;
 color: #ffff;
}
.textCr{
  background: #E9ECEF;
  padding: 25px 15px;
  border-radius: 15px;
  margin: 5px;
}

</style>