<template>
  <div id="transection">
      <expire/>
      <br><br>
      <div class="container">
          <div class="row">
              <div class="col-md-12">
                  <h4>ประวัติการทำรายการ </h4>

                  <b-table
                  responsive 
      id="my-table"
      :items="items"
      :per-page="perPage"
      :current-page="currentPage"
      :fields="fields"
      :sort-by.sync="sortBy"
      :sort-desc.sync="sortDesc"
      
    >
     <template v-slot:cell(date)="data">
       <i class="fas fa-calendar-week"></i>  {{ data.value | moment("YYYY/MM/DD HH:mm:ss") }}
      </template>
    
    </b-table>


      <b-pagination
      v-model="currentPage"
      :total-rows="rows"
      :per-page="perPage"
      aria-controls="my-table"
      
    ></b-pagination>
    <br><br>

              </div>
          </div>
      </div>
  </div>
</template>

<script>
import expire from "@/components/checExpire"
export default {
    name:'transection',
    components:{
        expire
    },
    mounted(){
        this.token = this.$session.get("token");
        this.loadContent();
    },
    data() {
        return {
            sortBy: 'date',
            sortDesc: true,
            perPage: 10,
            currentPage: 1,
            fields:[
                {key:"date",label:"วันที่",sortable:true},
                {key:"amount",label:"จำนวนเงิน",sortable:true},
                {key:"detail",label:"รายละเอียด",sortable:true}
                
            ],
            items:[]
        }
    },
    methods:{
        loadContent(){
            this.axios.get("https://cardrunner.co/api/members/"+this.token+"/history").then(response=>{
                if(response.data.status===200){
                this.items = response.data.data.transection
                }
            })
        }
    },
    computed: {
      rows() {
        return this.items.length
      },
     

    }

}
</script>

<style scoped>
#transection{
    min-height: 80vh;
}

</style>