<template>
  <div id="witraw">
    <expire/>
    <br />
    <br />
    <div class="container">
      <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
          <h4>
            การถอนเงินจาก WALLET
            <hr />
          </h4>

          <div v-if="onq==='none'">
            <p>เพิ่มข้อมูลส่วนตัว การถอนเงิน ข้อมูลบัญชีธนาคารกรอกให้ถูกต้อง</p>

            <div>
              <label for>กรอกชื่อบัญชี</label>
              <b-form-input v-model="data.bankaccount"></b-form-input>
            </div>

            <div role="group">
              <br />
              <label for="input-live">เลือกธนาคารรับเงิน :</label>
              <b-form-select v-model="data.bank" :options="bank"></b-form-select>
            </div>

            <div>
              <br />
              <label for>เลขที่บัญชี</label>
              <b-form-input v-model="data.banknumber"></b-form-input>
            </div>

            <div>
              <br />
              <label for>เบอร์โทร</label>
              <b-form-input v-model="data.phone"></b-form-input>
            </div>

            <div class="text-center" v-if="css">
              <br />
              <b-badge pill :variant="css">{{msg}}</b-badge>
            </div>
            <br />
            <button class="btn btn-primary btn-block" @click="addacount">เพิ่มเลขที่บัญชี</button>
            <br />
            <br />
          </div>

          <div v-if="onq==='use'">
            <center>
              <h4>ยอดถอนได้</h4>
            </center>
            <center>
              <h2>
                <sup>คงเหลือ</sup>
                <u>{{wallet.toFixed(2) | currency('')}}</u>
                <sup>บาท</sup>
               
              </h2> <small>LIMIT คงเหลือ {{sand}} บาท/วัน</small>
              <hr />
              ธนาคารสำหรับถอนออก {{bankStage.bank}}
              <br />
              ชื่อบัญชี {{bankStage.bankaccount}}
              <br />
              เลขที่บัญชี {{bankStage.banknumber}} เบอร์ติดต่อ {{bankStage.phone}}
            </center>

            <div>
              <br />
              <label for>จำนวนการถอน</label>
              <b-form-input v-model="amount" type="number" min="100" max="5500"></b-form-input>
            </div>
            <br />
            <p>(-ขั้นต่ำ 100 บาท ถอนสูงสุด 5500 บาท )<br> <small>เมื่อกดถอนเงิน รอเงินเข้าไม่เกิน 24 ชม</small></p>
            
            <div class="text-center" v-if="css">
              <br />
              <b-badge pill :variant="css">{{msg}}</b-badge>
            </div>
            <br />
            <button class="btn btn-primary btn-block" @click="withdraws">ถอนเงินออก</button>
            <br />
            <h4>รายการถอน 5 รายการล่าสุด</h4>

         
            <b-table
                  responsive 
      id="my-table"
      :items="items"
      :per-page="perPage"
      :current-page="currentPage"
      :fields="fields"
      :sort-by.sync="sortBy"
      :sort-desc.sync="sortDesc"
      small
    >
     <template v-slot:cell(date)="data">
       <i class="fas fa-calendar-week"></i>  {{ data.value | moment("YYYY/MM/DD HH:mm:ss") }}
      </template>

       <template v-slot:cell(type)="data">
       <small>{{ typeW[data.value] }}</small>
      </template>
    
    </b-table>
          </div>
        </div>
      </div>
    </div>
    <br />
    <br />
  </div>
</template>

<script>
import expire from "@/components/checExpire"
export default {
  name: "withdraw",
  components:{
    expire
  },
  mounted() {
    this.token = this.$session.get("token");
    this.loadlimit()
    this.checkMonitors();
    this.loadWithdarwStatus()
    this.wallet = this.$session.get("wallet");
    this.profile = this.$session.get("profile");

    this.sockets.subscribe("WALLET_" + this.token, function(data) {
      if (data.type === "dis") {
        this.wallet = this.wallet - data.amount;
        this.$session.set("wallet", this.wallet);
      } else {
        this.wallet = this.wallet + data.amount;
        this.$session.set("wallet", this.wallet);
      }
    });
  },
  data() {
    return {
      onq: "none",
      css: "",
      msg: "",
      wallet: "",
      bank: [
        { value: null, text: "เลือกธนาคาร" },
        { value: "ธนาคารกรุงเทพ", text: "ธนาคารกรุงเทพ" },
        { value: "ธนาคารกสิกรไทย", text: "ธนาคารกสิกรไทย" },
        { value: "ธนาคารกรุงไทย", text: "ธนาคารกรุงไทย" },
        { value: "ธนาคารทหารไทย", text: "ธนาคารทหารไทย" },
        { value: "ธนาคารไทยพาณิชย์", text: "ธนาคารไทยพาณิชย์" },
        { value: "ธนาคารกรุงศรีอยุธยา", text: "ธนาคารกรุงศรีอยุธยา" },
        { value: "ธนาคารเกียรตินาคิน", text: "ธนาคารเกียรตินาคิน" },
        { value: "ธนาคารธนชาต", text: "ธนาคารธนชาต" },
        { value: "ธนาคารออมสิน", text: "ธนาคารออมสิน" },
        { value: "ธกส", text: "ธกส" },
        { value: "UOB", text: "UOB" }
      ],
      data: {
        bankaccount: "",
        bank: null,
        banknumber: "",
        phone: "",
        bankStage: ""
      },
      amount: "",
      sortBy: "date",
      sortDesc: true,
      perPage: 10,
      currentPage: 1,
      fields: [
        { key: "date", label: "วันที่", sortable: true },
        { key: "amount", label: "จำนวนเงิน", sortable: true },
        { key: "type", label: "รายละเอียด",  }
      ],
      items: [],
      typeW:["รอกการดำเนินการ","ถอนแล้ว","ยกเลิก","*รอการยืนยันอีเมล","รอกการดำเนินการ"],
      reject:0,
      sand:0
    };
  },
  methods: {
    loadlimit(){
      this.axios.get("https://cardrunner.co/api/members/"+this.token+"/checkWithdrawPerday").then(res=>{
         if(res.data.status===200){
          this.reject = res.data.data.reduce((acc,item)=>acc+item.amount,0);
          this.sand = 5500 -this.reject ;
        
         }
      })
    },
    loadWithdarwStatus(){
      this.axios.get("https://cardrunner.co/api/members/"+this.token+"/showwithdarw").then(reponse=>{
        if(reponse.data.status===200){
          this.items = reponse.data.data
        }
      })
    },
    withdraws() {
      
      if (this.amount === "") {
        this.css = "danger";
        this.msg = "กรอกให้ครบทุกช่อง";
      } else if (this.amount > this.wallet) {
        this.css = "danger";
        this.msg = "จำนวนเงินที่ถอนได้ " + this.wallet + " บาท";
      } else if (!Number(this.amount)) {
        this.css = "danger";
        this.msg = "กรอกเป็นตัวเลข";
      } else if (this.amount > 5500) {
        this.css = "danger";
        this.msg = "ถอนมากสุด 5500 บาท";
      } else if (this.amount < 100) {
        this.css = "danger";
        this.msg = "ถอนต่ำสุด 100 บาท";
      }else if (this.sand < this.amount) {
        this.css = "danger";
        this.msg = "ยอด Limit การถอนต่อวันคงเหลือแค่ " + this.sand + " บาท ";
      } else {
        this.axios
          .post(
            "https://cardrunner.co/api/members/" + this.token + "/withdarw",
            {
              amount: this.amount,
              bank: this.bankStage.bank,
              bankaccount: this.bankStage.bankaccount,
              banknumber: this.bankStage.banknumber,
              phone: this.bankStage.phone,
              profile:this.profile
            }
          )
          .then(response => {
            if (response.data.status === 200) {
              this.loadWithdarwStatus()
              this.loadlimit()
              this.amount = null;
              this.css = "success";
              this.msg = "สำเร็จแล้ว";
            }
          });
      }
    },
    addacount() {
      if (
        this.data.bankaccount === "" ||
        this.data.bank === "" ||
        this.data.banknumber === "" ||
        this.data.phone === ""
      ) {
        this.css = "danger";
        this.msg = "กรอกให้ครบทุกช่อง";
      } else if (!Number(this.data.banknumber)) {
        this.css = "danger";
        this.msg = "กรอกเป็นตัวเลข";
      } else if (!Number(this.data.phone)) {
        this.css = "danger";
        this.msg = "กรอกเป็นตัวเลข";
      } else {
        this.axios
          .post(
            "https://cardrunner.co/api/members/" + this.token + "/addbank",
            {
              ...this.data
            }
          )
          .then(response => {
            if (response.data.status === 200) {
               this.css=""
               this.msg =""
              this.checkMonitors()
            }else{
              this.css = "danger";
              this.msg = response.data.msg;
            }
          });
      }
    },
    checkMonitors() {
      this.axios
        .get("https://cardrunner.co/api/members/" + this.token + "/bankCheck")
        .then(response => {
          if (response.data.status === 200) {
            this.onq = "none";
          } else {
            this.bankStage = response.data.data;
            this.onq = "use";
          }
        });
    }
  }
};
</script>

<style scoped>
#witraw {
  min-height: 80vh;
}
</style>